@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Lato:300,400,700");
body.login, html.login {
  background: #9D2235;
  font-family: "Lato", sans-serif;
}

.login h1 a {
  background-image: url("img/FPO_logo.png");
  width: 100%;
  height: 100px;
  background-size: contain;
}

.login .message {
  border-left: 4px solid #ED8B00;
}

.login #nav a, .login #backtoblog a {
  color: #fafafa;
  -webkit-transition: .25s;
  transition: .25s;
}

.login #nav a:hover, .login #nav a:focus, .login #backtoblog a:hover, .login #backtoblog a:focus {
  color: #FEBD3B;
}

.login input[type="text"]:focus, .login input[type="password"]:focus {
  border-color: #ED8B00;
  -webkit-box-shadow: 0 0 2px rgba(237, 139, 0, 0.8);
          box-shadow: 0 0 2px rgba(237, 139, 0, 0.8);
}

.wp-core-ui .button-primary {
  background: #ED8B00;
  border-color: #ffa321 #d47c00 #d47c00;
  -webkit-box-shadow: 0 1px 0 #d47c00;
          box-shadow: 0 1px 0 #d47c00;
  text-shadow: 0 -1px 1px #d47c00, 1px 0 1px #d47c00, 0 1px 1px #d47c00, -1px 0 1px #d47c00;
}

.wp-core-ui .button-primary:hover {
  background: #ff9907;
  border-color: #d47c00;
}

.wp-core-ui .button-primary:focus {
  -webkit-box-shadow: 0 1px 0 #d47c00, 0 0 2px 1px #ffc777;
          box-shadow: 0 1px 0 #d47c00, 0 0 2px 1px #ffc777;
  background: #ff9907;
  border-color: #d47c00;
}
/*# sourceMappingURL=style-login.css.map */