@charset "UTF-8";
/*
 Theme Name:   Adventure Trails
 Description:  Ohio Trails Main WordPress Theme
 Author:       Scoppechio
 Author URI:   http:/www.scoppechio.com
 Version:      2.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab|Lato:300,400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* =================================================================
flex settings
================================================================= */
/* =================================================================
  breakpoint settings
  ================================================================= */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #2D2926;
}

body.list-open, body.page-template-the-scoop, html.list-open, html.page-template-the-scoop {
  overflow: hidden;
}

svg, img {
  pointer-events: none;
}

a {
  color: #9D2235;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover, a:focus {
  text-decoration: underline;
  outline: none;
}

button:hover, button:focus {
  outline: none;
}

@media (min-width: 900px) {
  .radial {
    position: relative;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }
  .radial:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .radial--rog:before {
    background: #F26A36;
  }
  .radial--org:before {
    background: #ED8B00;
  }
  .radial--blu:before {
    background: #1B365D;
  }
  .radial:hover:before, .radial:focus:before {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .radial--long:hover:before, .radial--long:focus:before {
    -webkit-transform: scale(2, 10);
    transform: scale(2, 10);
  }
}

#page {
  overflow: auto;
  position: fixed;
  width: 100vw;
}

#page.gingerbread {
  overflow: hidden;
  display: block !important;
}

.page-template-landing-page #page {
  position: unset;
}

.content-wrap {
  padding: .5rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

#application {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

@media (min-width: 600px) {
  #application {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: static;
  }
}

#new-kid {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 9998;
  height: 100vh;
  width: 100vw;
  -webkit-transition: all .25s;
  transition: all .25s;
}

#new-kid .inner-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 260px;
  width: 100%;
  padding: 1em 2em 1em 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: .5em;
  -webkit-transition: all .25s;
  transition: all .25s;
}

#new-kid .inner-wrap p {
  color: #fff;
  margin-bottom: .25em;
  line-height: 1.25;
}

#new-kid .inner-wrap p.sm {
  font-size: .83rem;
  width: 80%;
  margin: 0;
  position: relative;
  /*
				&:before {
					position: absolute;
					@include font-awesome('\f060', 900);
					// left: -1.5em;
					font-size: 1.5em;
					animation: toAndFro 1s infinite; 
				}
				*/
}

#new-kid .inner-wrap.bounce {
  -webkit-animation: bounce .25s ease-in-out;
          animation: bounce .25s ease-in-out;
}

#new-kid .inner-wrap:after {
  content: '';
  height: 100px;
  width: 100px;
  background-image: url(img/icons/pin-blank.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  right: -45px;
  top: -35px;
}

#new-kid .inner-wrap img {
  display: block;
  width: 100%;
}

#new-kid.pop {
  opacity: 1;
}

@media (min-width: 900px) {
  #new-kid .inner-wrap {
    left: 25%;
  }
}

/*
#transition {
	position: fixed;
	width: 100vw;
	height:100vh;
	background-size: cover;
	background-position: center;
	z-index: 99999;

	img {
		display: none;
		height: 100vh;
		width: 100vw;
		position: absolute;
    	top: 0;
		left: 0;
		
		&.on {
			display: block;
		}
	}
}
*/
header {
  background-color: #9D2235;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 998;
}

#masthead > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header_nav {
  display: none;
  position: absolute;
  z-index: 9999;
  top: 75px;
  width: 100%;
  left: 0;
}

#header_nav ul {
  background-color: #fff;
}

#header_nav ul li a {
  padding: 1.5rem 1rem;
  background-color: #f5f5f5;
  color: #2D2926;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 4px;
  border-left: 8px solid transparent;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  -webkit-transition: .25s;
  transition: .25s;
}

#header_nav ul li a:after {
  content: '\f054';
  font-family: "Font Awesome 5 Solid";
  display: none;
}

#header_nav ul li a:hover, #header_nav ul li a:focus {
  border-left: 8px solid #9D2235;
}

#header_nav ul li:last-child a {
  margin: 0;
}

@media (min-width: 600px) {
  #header_nav {
    top: 104px;
    width: 350px;
  }
}

main {
  position: relative;
}

#ohio-logo {
  width: 150px;
  display: block;
  margin: 0 1rem;
}

#ohio-logo img {
  width: 100%;
}

@media (min-width: 600px) {
  #ohio-logo {
    width: 180px;
    margin: 0 2rem;
  }
}

.navigation-top a {
  color: #fff;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: .83rem;
  border-left: 2px solid #731927;
  padding: 1.5rem 1rem;
  display: block;
}

.navigation-top a:hover, .navigation-top a:focus {
  cursor: pointer;
}

@media (min-width: 600px) {
  .navigation-top a {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

#nav-toggle {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background: transparent;
  font-size: 1.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-toggle svg {
  font-size: 1.25em;
  margin-left: .25em;
}

#nav-toggle:hover, #nav-toggle:focus {
  cursor: pointer;
  outline: none;
}

#primary {
  height: 100vh;
}

#primary #page-content .ui-controls {
  text-align: right;
}

#primary #page-content .ui-controls button {
  font-size: 1.5rem;
  border: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#primary #page-content .ui-controls button span {
  font-size: .9rem;
  margin-right: .5rem;
  opacity: 0;
  -webkit-transition: .25s;
  transition: .25s;
}

#primary #page-content .ui-controls button:hover, #primary #page-content .ui-controls button:focus {
  cursor: pointer;
}

#primary #page-content .ui-controls button:hover span, #primary #page-content .ui-controls button:focus span {
  opacity: 1;
}

#primary #page-content #explore-go {
  padding: .5rem;
  text-align: center;
}

#primary #page-content #explore-go a {
  padding: .5rem 1rem;
  background-color: #FEBD3B;
  border-radius: 15px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#primary #page-content #explore-go a svg {
  font-size: 1.5rem;
  color: #7C4D3A;
  margin-right: .5rem;
}

#primary #page-content #explore-go a span {
  color: #fff;
  font-size: .75rem;
}

#primary #page-content #explore-go a:hover, #primary #page-content #explore-go a:focus {
  cursor: pointer;
}

#primary #page-content h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: .5em;
}

#primary #page-content p {
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.page-child #primary #page-content {
  height: 65vh;
  margin: 1rem;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.page-child #primary #page-content h2 {
  text-align: center;
  line-height: 1.25;
}

.page-child #primary #page-content .scroll-bucket {
  overflow: hidden;
  position: relative;
  height: 35vh;
  padding-top: .5rem;
  border-top: 1px dashed #FEBD3B;
}

.page-child #primary #page-content .scroll-bucket > div {
  overflow-y: scroll;
  height: 100%;
  text-align: center;
  font-size: .8rem;
}

.page-child #primary #page-content .scroll-bucket > div::-webkit-scrollbar {
  width: 6px;
}

.page-child #primary #page-content .scroll-bucket > div::-webkit-scrollbar-thumb {
  background-color: #63666A;
  border-radius: 6px;
}

.page-child #primary #page-content.close {
  top: -100%;
}

#primary.nav-open {
  opacity: .5;
}

@media (min-width: 600px) {
  .page-child #primary #page-content {
    top: 0;
    left: calc(100vw - 400px);
    max-width: 400px;
  }
  #primary #page-content.close {
    top: -100%;
  }
}

#listFilters {
  margin-top: 1em;
}

#ui-controls {
  position: fixed;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: 9998;
  -webkit-transition: .25s;
  transition: .25s;
  pointer-events: none;
}

#ui-controls .pill-holder {
  background-color: #9D2235;
  top: 110px;
  position: absolute;
  z-index: 99;
  border-radius: 0 30px 30px 0;
  width: 200px;
  left: -50px;
  -webkit-transition: .25s;
  transition: .25s;
}

#ui-controls .pill-holder ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#ui-controls .pill-holder ul li:nth-of-type(1) {
  display: none;
}

#ui-controls .pill-holder button {
  pointer-events: auto;
  color: #fff;
  background-color: transparent;
  /*
			@include flex-display;
			@include flex-justify-center;
			@include flex-items-center;
			*/
  font-size: 1.75em;
  margin-right: .5em;
  border: 0;
  -webkit-transition: .25s;
  transition: .25s;
  padding: .25em .5em;
}

#ui-controls .pill-holder button span {
  font-size: .3em;
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
}

#ui-controls .pill-holder button:hover, #ui-controls .pill-holder button:focus {
  cursor: pointer;
}

#ui-controls .pill-holder.open {
  left: 0;
  top: 64px;
}

#ui-controls .pill-holder.open ul li:nth-of-type(1) {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

#ui-controls .pill-holder.list ul li:nth-of-type(2) button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: reverse;
  -webkit-box-orient: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

#ui-controls .pill-holder.list ul li:nth-of-type(2) button span {
  font-size: .45em;
  padding: 0 .5em;
}

#ui-controls .pill-holder.list ul li:nth-of-type(3) {
  display: none;
}

#ui-controls .pill-holder.filter ul li:nth-of-type(2) {
  display: none;
}

#ui-controls .pill-holder.filter ul li:nth-of-type(3) button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: reverse;
  -webkit-box-orient: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

#ui-controls .pill-holder.filter ul li:nth-of-type(3) button span {
  font-size: .5em;
  padding: 0 .5em;
}

.map-page #ui-controls .pill-holder {
  top: 65px;
}

@media (min-width: 600px) {
  #ui-controls .pill-holder {
    top: 130px;
    left: -125px;
    width: 280px;
  }
  #ui-controls .pill-holder.open {
    top: 130px;
  }
  .map-page #ui-controls .pill-holder {
    top: 100px;
    left: -120px;
  }
  .map-page #ui-controls .pill-holder.open {
    top: 100px;
    left: 0px;
  }
}

@media (min-width: 900px) {
  #ui-controls .pill-holder {
    top: 140px;
  }
  #ui-controls .pill-holder.open {
    top: 140px;
  }
  .map-page #ui-controls .pill-holder {
    top: 120px;
  }
  .map-page #ui-controls .pill-holder.open {
    top: 120px;
  }
}

#ui-controls #map-toggle {
  bottom: 1rem;
  left: 1rem;
}

#ui-controls #filter-toggle {
  bottom: calc(1.5rem + 42px);
  left: 1rem;
}

#ui-controls #sidebar {
  background-color: #9D2235;
  height: 100%;
  margin-top: 60px;
  padding-top: 60px;
  left: -100vw;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#ui-controls #sidebar #side-nav {
  border-top: 1px solid #fff;
  padding: 1em;
  margin: 1em;
  text-align: center;
  position: absolute;
  bottom: 4em;
  width: calc(100% - 2em);
}

#ui-controls #sidebar #side-nav a {
  display: block;
  color: #fff;
}

#ui-controls #sidebar.open {
  left: 0;
  pointer-events: all;
}

@media (min-width: 600px) {
  #ui-controls #sidebar {
    margin-top: 78px;
    padding-top: 115px;
  }
  #ui-controls #sidebar #side-nav {
    bottom: 7em;
  }
}

.categoryFilter__listView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .5em 0;
}

.categoryFilter__listView li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: .5em;
}

.categoryFilter__listView li button {
  padding: 1em 2em;
  border: 0;
  background-color: #dedede;
  color: #bbb;
  -webkit-transition: all .25s;
  transition: all .25s;
  width: 100%;
}

.categoryFilter__listView li button:hover {
  cursor: pointer;
  color: #fff;
}

.categoryFilter__listView li button:hover[data-category="trail-head"] {
  background-color: #1B365D;
}

.categoryFilter__listView li button:hover[data-category="spirits"] {
  background-color: #9D2235;
}

.categoryFilter__listView li button:hover[data-category="coffee"] {
  background-color: #ED8B00;
}

.categoryFilter__listView li button:hover[data-category="food"] {
  background-color: #74D2E7;
}

.categoryFilter__listView li button:hover[data-category="shopping"] {
  background-color: #63666A;
}

.categoryFilter__listView li button:hover[data-category="sightseeing"] {
  background-color: #C4D600;
}

.categoryFilter__listView li button:hover[data-category="artmuseum"] {
  background-color: #FEBD3B;
}

.categoryFilter__listView li.active button {
  color: #fff;
}

.categoryFilter__listView li.active button[data-category="trail-head"] {
  background-color: #1B365D;
}

.categoryFilter__listView li.active button[data-category="spirits"] {
  background-color: #9D2235;
}

.categoryFilter__listView li.active button[data-category="coffee"] {
  background-color: #ED8B00;
}

.categoryFilter__listView li.active button[data-category="food"] {
  background-color: #74D2E7;
}

.categoryFilter__listView li.active button[data-category="shopping"] {
  background-color: #63666A;
}

.categoryFilter__listView li.active button[data-category="sightseeing"] {
  background-color: #C4D600;
}

.categoryFilter__listView li.active button[data-category="artmuseum"] {
  background-color: #FEBD3B;
}

.categoryFilter__sidebar {
  z-index: 1;
  position: relative;
}

.categoryFilter__sidebar li {
  -webkit-transition: .25s;
  transition: .25s;
  border-left: 0.5rem solid #5e1420;
}

.categoryFilter__sidebar li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: #fff;
  background-color: #5e1420;
  border: 0;
  padding: .75em .5em .75em 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.categoryFilter__sidebar li button span {
  opacity: .25;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-transform: capitalize;
}

.categoryFilter__sidebar li button span svg {
  width: 32px;
}

.categoryFilter__sidebar li button span:first-of-type {
  font-size: .83rem;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  padding: 0 1em;
  width: 90px;
}

.categoryFilter__sidebar li button span:last-of-type {
  -webkit-transform: scale(0.75) rotate(-45deg);
          transform: scale(0.75) rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 50% 50% 50% 0;
  padding: 0 0px 0px 0;
  width: 40px;
  height: 40px;
  background-color: #9D2235;
}

.categoryFilter__sidebar li button[data-category="trail-head"] svg {
  width: 40%;
  height: 100%;
}

.categoryFilter__sidebar li button:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.categoryFilter__sidebar li.active, .categoryFilter__sidebar li.hover {
  border-left: 0.5rem solid #9D2235;
}

.categoryFilter__sidebar li.active button, .categoryFilter__sidebar li.hover button {
  cursor: pointer;
}

.categoryFilter__sidebar li.active button span, .categoryFilter__sidebar li.hover button span {
  opacity: 1;
}

.categoryFilter__sidebar li.active button span:last-of-type, .categoryFilter__sidebar li.hover button span:last-of-type {
  background-color: #fff;
}

.categoryFilter__sidebar li.active button[data-category="trail-head"], .categoryFilter__sidebar li.hover button[data-category="trail-head"] {
  background-color: #1B365D;
}

.categoryFilter__sidebar li.active button[data-category="spirits"], .categoryFilter__sidebar li.hover button[data-category="spirits"] {
  background-color: #9D2235;
}

.categoryFilter__sidebar li.active button[data-category="coffee"], .categoryFilter__sidebar li.hover button[data-category="coffee"] {
  background-color: #ED8B00;
}

.categoryFilter__sidebar li.active button[data-category="food"], .categoryFilter__sidebar li.hover button[data-category="food"] {
  background-color: #74D2E7;
}

.categoryFilter__sidebar li.active button[data-category="shopping"], .categoryFilter__sidebar li.hover button[data-category="shopping"] {
  background-color: #63666A;
}

.categoryFilter__sidebar li.active button[data-category="sightseeing"], .categoryFilter__sidebar li.hover button[data-category="sightseeing"] {
  background-color: #C4D600;
}

.categoryFilter__sidebar li.active button[data-category="artmuseum"], .categoryFilter__sidebar li.hover button[data-category="artmuseum"] {
  background-color: #FEBD3B;
}

.categoryFilter__sidebar li.active button.radial--rog:before, .categoryFilter__sidebar li.hover button.radial--rog:before {
  -webkit-transform: scale(2);
          transform: scale(2);
  background: #F26A36;
}

@media (min-width: 600px) {
  .categoryFilter__listView {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .categoryFilter__listView li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 1em 0 1em 1em;
  }
  .categoryFilter__sidebar li button {
    padding: .75em .5em .75em 25px;
  }
  .categoryFilter__sidebar li button span:first-of-type {
    width: auto;
  }
}

#post-wrap {
  position: fixed;
  top: 100vh;
  background-color: #efefef;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

#post-wrap > h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

#post-wrap > .go-explore {
  padding: 1rem;
}

#post-wrap .post-head {
  text-align: right;
}

#post-wrap .post-head button {
  font-size: 1.5rem;
  border: 0;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#post-wrap .post-head button span {
  font-size: .9rem;
  margin-right: .5rem;
  opacity: 0;
  -webkit-transition: .25s;
  transition: .25s;
}

#post-wrap .post-head button:hover, #post-wrap .post-head button:focus {
  cursor: pointer;
}

#post-wrap .post-head button:hover span, #post-wrap .post-head button:focus span {
  opacity: 1;
}

#post-wrap.on {
  height: 100%;
  top: 0;
  z-index: 0;
  overflow-y: auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
  margin-top: 60px;
}

#post-wrap.done {
  overflow-y: auto;
}

@media (min-width: 600px) {
  #post-wrap > div > .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 8rem;
  }
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 100vh;
  opacity: 0;
  position: relative;
  -webkit-transition: all .25s;
  transition: all .25s;
  width: 100%;
}

.post .inner {
  padding-bottom: 1rem;
  width: 100%;
}

.post .inner > button {
  height: 200px;
  background-color: #999;
  background-position: center;
  background-size: cover;
  padding-bottom: 9rem;
  width: 100%;
  border: 0;
}

.post .inner > button div {
  position: absolute;
  top: 160px;
  right: 8em;
}

.post .inner > button span {
  position: absolute;
  font-size: 3rem;
  z-index: 9;
  width: 84px;
}

.post .inner > button span img {
  display: block;
  width: 100%;
}

.post .inner > button:hover, .post .inner > button:focus {
  cursor: pointer;
}

.post .inner .solid-marker path {
  fill: #FEBD3B;
}

.post .inner section {
  padding: 1rem 1rem 7.5rem;
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
}

.post .inner section h2, .post .inner section p {
  margin: .5rem 0;
}

.single-trail-head .post .inner section {
  padding: 6rem 1rem 3rem;
}

.single-trail-head .post .inner section > span {
  position: absolute;
  left: 50%;
  top: 6px;
  width: 96px;
  height: 96px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}

.single-trail-head .post .inner section > span img {
  display: block;
  width: 100%;
}

@media (min-width: 1600px) {
  .post .inner section {
    padding: 1rem 1rem 4rem;
  }
}

.post .inner .post-link {
  text-align: center;
}

.post .inner .post-link button {
  background-color: #74D2E7;
  padding: .75rem 2rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 1.5rem;
  width: 200px;
  font-size: 1rem;
  border: 0;
  margin: 0;
}

.post .inner .post-link button:hover, .post .inner .post-link button:focus {
  cursor: pointer;
}

.post .inner h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.post .inner .list-foot {
  bottom: 1rem;
  width: calc(100% - 2rem);
}

.post .inner .list-foot p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 1600px) {
  .post .inner .list-foot {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .post .inner .list-foot p.post-link {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 40%;
            flex: 1 0 40%;
  }
  .post .inner .list-foot p.post-link button {
    display: block;
    width: 100%;
    padding: .75rem 1rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  .post .inner .list-foot p.post-link--override {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .post .inner .list-foot p.post-link--override button {
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    width: auto;
    padding: .75rem 3rem;
  }
  .post .inner .list-foot p.go-explore {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
  }
  .post .inner .list-foot p.go-explore a {
    width: 100%;
    padding: .5rem 1rem;
    height: 100%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.post.lift {
  top: 0;
  opacity: 1;
}

@media (min-width: 600px) {
  .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .post .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .5rem;
  }
}

@media (min-width: 900px) {
  .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }
  .post .inner > div span {
    right: 0;
    left: .5rem;
  }
}

@media (min-width: 1200px) {
  .post {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2em;
}

.social li a {
  display: block;
  color: #2D2926;
}

.social li a span {
  font-size: 2rem;
}

.social li a span .fa-circle {
  color: #fff;
}

@media (min-width: 600px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 0;
  }
}

#splash {
  position: fixed;
  top: 0;
  width: 100%;
  height: 200vh;
  z-index: 9999;
  overflow: auto;
}

#splash .splash-wrap {
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

#splash .splash-wrap .splash-inner {
  padding: 1rem;
  padding-bottom: 10rem;
  width: 100%;
  height: 100%;
}

#splash .splash-wrap .logo {
  max-width: 50%;
  margin: 3rem auto;
}

#splash .splash-wrap .logo img {
  width: 100%;
  display: block;
}

#splash .splash-wrap h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

#splash .splash-wrap span {
  display: block;
  font-size: .9rem;
  margin: 1rem 0 .5rem;
}

#splash .splash-wrap p {
  margin: .25rem 0 1rem;
  font-weight: 300;
  line-height: 1.5;
}

#splash .splash-wrap ul {
  display: none;
}

#splash .splash-wrap::-webkit-scrollbar {
  width: 6px;
}

#splash .splash-wrap::-webkit-scrollbar-thumb {
  background-color: #63666A;
  border-radius: 6px;
}

#splash button {
  background-color: #9D2235;
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: .5rem 2rem;
  border: 0;
  border-radius: 1em;
  font-size: 2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#splash button:hover, #splash button:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  outline: 0;
  cursor: pointer;
}

#splash.exploring {
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  top: -100vh;
}

#splash.exploring .home-vid-wrap {
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
  top: -100vh;
}

@media (min-width: 600px) {
  #splash .splash-wrap {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 100%;
  }
  #splash .splash-wrap .splash-inner {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: auto;
  }
  #splash .splash-wrap .logo {
    margin: 0 auto 3rem;
  }
  #splash .splash-wrap ul {
    margin: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  #splash .splash-wrap ul li {
    padding: 0 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
  #splash .splash-wrap ul li svg {
    width: 60%;
    height: auto;
  }
  #splash .splash-wrap ul li svg path {
    fill: #fff;
  }
}

.go-explore {
  text-align: center;
}

.go-explore a {
  display: -webkit-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FEBD3B;
  padding: .5rem 2rem;
  border-radius: 1.5rem;
  color: #fff;
  text-decoration: none;
  width: 200px;
}

.go-explore a > svg {
  height: 24px;
}

.go-explore a span {
  margin: 0 .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.post .go-explore {
  text-align: right;
}

@media (min-width: 600px) {
  .go-explore {
    padding: .5rem;
    width: auto;
  }
}

#mapCanvas {
  height: calc(100vh - 100px);
  margin-top: 100px;
  width: 100vw;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.page-template-map-page #mapCanvas {
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.info #mapCanvas {
  height: calc(33vh + 80px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(100% - 500px);
      flex-basis: calc(100% - 500px);
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

@media (min-width: 600px) {
  .info #mapCanvas {
    height: 100vh;
  }
}

@media (min-width: 900px) {
  #mapCanvas {
    height: calc(100vh - 120px);
    margin-top: 120px;
  }
  .page-template-map-page #mapCanvas {
    height: calc(100vh - 80px);
    margin-top: 80px;
  }
}

#infoWindow, #featureWindow {
  width: 100%;
  background-color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  position: absolute;
  top: 100vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 99;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#infoWindow .carousel-wrap, #featureWindow .carousel-wrap {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 10em;
}

#infoWindow .carousel-wrap::-webkit-scrollbar, #featureWindow .carousel-wrap::-webkit-scrollbar {
  width: 6px;
}

#infoWindow .carousel-wrap::-webkit-scrollbar-thumb, #featureWindow .carousel-wrap::-webkit-scrollbar-thumb {
  background-color: #63666A;
  border-radius: 6px;
}

#infoWindow .slick-arrow, #featureWindow .slick-arrow {
  position: absolute;
  z-index: 999;
  top: 100px;
  padding: .5rem;
  border: 0;
  background: transparent;
  color: #ccc;
  font-size: 2rem;
}

#infoWindow .slick-arrow span, #featureWindow .slick-arrow span {
  display: none;
}

#infoWindow .slick-arrow.slick-next, #featureWindow .slick-arrow.slick-next {
  right: 0rem;
}

#infoWindow .slick-arrow.slick-prev, #featureWindow .slick-arrow.slick-prev {
  left: 0rem;
}

#infoWindow .slick-arrow:hover, #infoWindow .slick-arrow:focus, #featureWindow .slick-arrow:hover, #featureWindow .slick-arrow:focus {
  cursor: pointer;
}

@media (min-width: 600px) {
  #infoWindow .slick-arrow, #featureWindow .slick-arrow {
    position: static;
    color: #2D2926;
    bottom: 1rem;
    font-size: .9rem;
    -webkit-transform: none;
            transform: none;
  }
  #infoWindow .slick-arrow span, #featureWindow .slick-arrow span {
    display: inline-block;
  }
  #infoWindow .slick-arrow.slick-next, #featureWindow .slick-arrow.slick-next {
    right: 2rem;
  }
  #infoWindow .slick-arrow.slick-prev, #featureWindow .slick-arrow.slick-prev {
    left: 1rem;
  }
}

#infoWindow .slick-slide img, #featureWindow .slick-slide img {
  margin: 0 auto;
}

#infoWindow .slick-list, #featureWindow .slick-list {
  height: auto !important;
}

#infoWindow .iw-header, #featureWindow .iw-header {
  display: none;
  text-align: right;
  position: relative;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#infoWindow .iw-header img, #featureWindow .iw-header img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.map-page #infoWindow .iw-header img, .map-page #featureWindow .iw-header img {
  height: 100%;
  width: auto;
}

.page-child #infoWindow .iw-header, .post-template #infoWindow .iw-header, .page-child #featureWindow .iw-header, .post-template #featureWindow .iw-header {
  margin-top: 0;
  padding-bottom: 200px;
  background-color: #999;
  overflow: hidden;
}

#infoWindow .vid-wrapper, #featureWindow .vid-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#infoWindow .vid-wrapper iframe, #featureWindow .vid-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#infoWindow .vid-wrapper img, #featureWindow .vid-wrapper img {
  width: 100%;
}

#infoWindow .go-trail, #featureWindow .go-trail {
  padding: .5rem;
  text-align: center;
}

#infoWindow .go-trail a, #featureWindow .go-trail a {
  display: inline-block;
  background-color: #74D2E7;
  padding: .75rem 2rem;
  border-radius: 1.5rem;
  color: #fff;
  text-decoration: none;
  width: 200px;
}

#infoWindow .iw-content-wrap, #featureWindow .iw-content-wrap {
  padding: 1em 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

#infoWindow .iw-content-wrap .iw-content, #featureWindow .iw-content-wrap .iw-content {
  line-height: 1.5;
  padding: 1rem;
  border-bottom: 2px dotted #ccc;
  margin-bottom: 1rem;
}

#infoWindow .iw-content-wrap .iw-content p, #featureWindow .iw-content-wrap .iw-content p {
  margin-bottom: 1rem;
  text-align: center;
  font-size: .83rem;
}

#infoWindow .iw-content-wrap .iw-content p:last-of-type, #featureWindow .iw-content-wrap .iw-content p:last-of-type {
  margin: 0;
}

#infoWindow .iw-content-wrap .iw-content::-webkit-scrollbar, #featureWindow .iw-content-wrap .iw-content::-webkit-scrollbar {
  width: 6px;
}

#infoWindow .iw-content-wrap .iw-content::-webkit-scrollbar-thumb, #featureWindow .iw-content-wrap .iw-content::-webkit-scrollbar-thumb {
  background-color: #63666A;
  border-radius: 6px;
}

#infoWindow .iw-content-wrap > h3, #featureWindow .iw-content-wrap > h3 {
  text-align: center;
  font-size: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#infoWindow .iw-content-wrap > h3 svg, #featureWindow .iw-content-wrap > h3 svg {
  font-size: 1rem;
}

#infoWindow .iw-content-wrap > h3 > span, #featureWindow .iw-content-wrap > h3 > span {
  margin: 0 .5rem;
}

#infoWindow .iw-content-wrap .stop-list, #featureWindow .iw-content-wrap .stop-list {
  text-align: center;
  line-height: 1.75;
  font-size: .83rem;
}

#infoWindow .iw-content-wrap.trail, #featureWindow .iw-content-wrap.trail {
  padding-top: 3.5rem;
  position: relative;
  padding-bottom: 10rem;
}

#infoWindow .iw-content-wrap.trail .timeline, #featureWindow .iw-content-wrap.trail .timeline {
  text-align: center;
  margin-bottom: 1em;
}

#infoWindow .iw-content-wrap.trail .go-explore, #featureWindow .iw-content-wrap.trail .go-explore {
  position: absolute;
  top: -1.7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#infoWindow .trail-title, #featureWindow .trail-title {
  text-align: center;
  font-size: .65em;
  margin-top: .5rem;
}

#infoWindow .item-title, #featureWindow .item-title {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 2rem;
}

#infoWindow .trail-count, #featureWindow .trail-count {
  text-align: center;
  margin: 1.5rem 1rem;
  font-size: 1.66rem;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

#infoWindow .trail-count a, #featureWindow .trail-count a {
  color: #a5a5a5;
  font-size: .9rem;
  padding: 1rem 0 0;
}

#infoWindow .trail-count a:hover, #infoWindow .trail-count a:focus, #featureWindow .trail-count a:hover, #featureWindow .trail-count a:focus {
  color: #2D2926;
  text-decoration: none;
}

@media (min-width: 600px) {
  #infoWindow .trail-count, #featureWindow .trail-count {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #infoWindow .trail-count a, #featureWindow .trail-count a {
    border-left: 2px solid #2D2926;
    padding: .5rem 0 .5rem .5rem;
  }
  #infoWindow .trail-count > span, #featureWindow .trail-count > span {
    padding: .25rem 0;
  }
}

#infoWindow .item-address, #featureWindow .item-address {
  text-align: center;
  margin: .5rem 0;
  font-size: .8rem;
}

#infoWindow .item-address a, #featureWindow .item-address a {
  color: #63666A;
}

#infoWindow .item-address a:hover, #infoWindow .item-address a:focus, #featureWindow .item-address a:hover, #featureWindow .item-address a:focus {
  color: #9D2235;
}

#infoWindow .gdRating, #featureWindow .gdRating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  width: 155px;
  margin: 1.5rem auto;
  display: none;
}

#infoWindow .gdRating li.star, #featureWindow .gdRating li.star {
  color: #ccc;
  font-size: 1.5em;
}

#infoWindow .gdRating li.star i, #featureWindow .gdRating li.star i {
  margin: 0 2px;
}

#infoWindow .gdRating li.star svg, #featureWindow .gdRating li.star svg {
  margin: 0 .25rem;
}

#infoWindow .gdRating li.star--top, #featureWindow .gdRating li.star--top {
  color: #FEBD3B;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  top: 0;
  left: 0;
  overflow: hidden;
}

#infoWindow .gdRating li.star--bot, #featureWindow .gdRating li.star--bot {
  padding: 0;
  display: block;
  z-index: 0;
}

#infoWindow .website, #featureWindow .website {
  text-align: center;
  margin-bottom: 1rem;
  font-size: .8rem;
}

#infoWindow .website a, #featureWindow .website a {
  display: block;
  padding: .5rem;
  color: #2D2926;
  text-decoration: none;
  opacity: .2;
  -webkit-transition: .5s;
  transition: .5s;
}

#infoWindow .website a:hover, #infoWindow .website a:focus, #featureWindow .website a:hover, #featureWindow .website a:focus {
  opacity: .9;
}

#infoWindow .photo-load, #featureWindow .photo-load {
  text-align: center;
  display: none;
  font-size: 4rem;
}

#infoWindow .photo-load.loading, #featureWindow .photo-load.loading {
  display: block;
}

#infoWindow .photo-bucket, #featureWindow .photo-bucket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#infoWindow .photo-bucket li, #featureWindow .photo-bucket li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 32%;
          flex: 1 0 32%;
  background-size: cover;
  padding: 16%;
  margin: 1px;
  text-align: center;
  color: #ccc;
}

#infoWindow .photo-bucket li img, #featureWindow .photo-bucket li img {
  display: block;
  width: 100%;
}

#infoWindow .trailNav, #featureWindow .trailNav {
  display: -webkit-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

#infoWindow .iw-stops-list, #featureWindow .iw-stops-list {
  -webkit-column-count: 2;
          column-count: 2;
  list-style-type: disc;
  padding-left: 1em;
  list-style-position: inside;
  text-indent: -1em;
}

#infoWindow .iw-stops-list li, #featureWindow .iw-stops-list li {
  font-weight: 400;
  font-size: .83em;
  padding: .35em 0 .35em 1em;
}

#infoWindow.open, #featureWindow.open {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  height: 100%;
  top: 33vh;
  border-top: 2px solid #d3d3d3;
}

@media (min-width: 600px) {
  #infoWindow, #featureWindow {
    position: relative;
    max-width: 500px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 500px;
            flex: 1 0 500px;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    padding-bottom: 4rem;
  }
  #infoWindow .iw-header, #featureWindow .iw-header {
    display: block;
  }
  #infoWindow .carousel-wrap, #featureWindow .carousel-wrap {
    padding-bottom: 0;
  }
  #infoWindow .btn-wrap, #featureWindow .btn-wrap {
    padding: 1rem 2.5rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(60%, white));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 60%);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #infoWindow .iw-bounds, #featureWindow .iw-bounds {
    padding: 0;
  }
  #infoWindow.open, #featureWindow.open {
    top: 0;
    height: auto;
    border: 0;
  }
}

.iw-bounds {
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  padding-bottom: 8rem;
}

.iw-bounds.on {
  display: block;
}

.iw-bounds:focus {
  outline: 0;
}

@media (min-width: 600px) {
  .iw-bounds {
    padding-right: 0;
  }
}

.iw-bounds .hours {
  text-align: center;
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: .83em;
}

.iw-bounds .hours li.today {
  font-weight: 700;
  font-size: 1rem;
  margin: .25em 0;
  border: 1px solid #ccc;
  border-right: 0;
  border-left: 0;
  padding: .25em 0;
}

.slick-active .iw-bounds {
  opacity: 1;
}

.closePanel {
  border: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
}

.closePanel span {
  font-size: .9rem;
  margin-right: .5rem;
  opacity: 0;
  -webkit-transition: .25s;
  transition: .25s;
}

.map-page .closePanel {
  color: #2D2926;
}

.closePanel:hover, .closePanel:focus {
  outline: 0;
  cursor: pointer;
}

.closePanel:hover span, .closePanel:focus span {
  opacity: 1;
}

@media (min-width: 600px) {
  .closePanel {
    font-size: 2rem;
    color: #fff;
  }
}

.cat-post-header {
  text-align: center;
  font-size: 3em;
  margin-bottom: 1em;
  text-transform: capitalize;
}

#page-load {
  display: none;
  position: fixed;
  font-size: 5rem;
  z-index: 9997;
  color: #fafafa;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
}

#page-load span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#page-load.loading {
  display: block;
  cursor: wait;
}

#trail-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 60px;
  width: 100%;
  background: #fff;
  z-index: 999;
  -webkit-transition: .25s;
  transition: .25s;
  padding: 1em;
}

#trail-home a {
  color: #9D2235;
  border: 0;
}

#trail-home a:hover, #trail-home a:focus {
  cursor: pointer;
  text-decoration: underline;
}

#trail-home a, #trail-home span {
  padding: 0 .25em;
}

#trail-home span {
  text-transform: capitalize;
}

#trail-home h1 {
  padding: 0 1rem;
  font-weight: 700;
  font-size: 1.25rem;
}

.list-open #trail-home {
  left: -100%;
}

@media (min-width: 600px) {
  #trail-home {
    top: 80px;
  }
}

#searchform {
  position: relative;
}

#searchform .search-field {
  background-color: #fff;
  border: 1px solid #9D2235;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 60vw;
  max-width: 300px;
  text-align: center;
  padding-right: 2rem;
}

#searchform .go-search {
  position: absolute;
  right: 0;
  z-index: 999;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #9D2235;
  color: #fff;
  padding: .5rem .55rem;
  border: 1px solid #9D2235;
  border-radius: 1rem;
  -webkit-transition: .25s;
  transition: .25s;
}

#searchform .go-search:hover, #searchform .go-search:focus {
  cursor: pointer;
  background-color: #731927;
}

#vid-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -2;
  opacity: 0.5;
}

.home-vid-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.home-vid-wrap video {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

.gm-style-iw {
  text-align: center;
}

.gm-style-iw + div {
  display: none;
}

.iw-stop-wrap h3 {
  outline: none;
  padding: 0 0 1em;
  font-size: 1.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.iw-stop-wrap h3:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  margin-left: 1em;
  font-size: .7em;
}

.iw-stop-wrap h3.ui-state-active:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
}

.iw-stop-wrap h3:hover {
  cursor: pointer;
}

.page-template-the-scoop #hero {
  padding-bottom: 50.25%;
  background-color: #ccc;
  background: url("./img/ice-cream-hero.jpg");
  background-position: center;
  background-size: cover;
}

@media (min-width: 900px) {
  .page-template-the-scoop #hero {
    padding-bottom: 28.25%;
    margin-right: 20%;
  }
}

.page-template-the-scoop #page {
  position: static;
  padding-top: 61px;
}

@media (min-width: 600px) {
  .page-template-the-scoop #page {
    padding-top: 80px;
  }
}

.page-template-the-scoop #primary {
  width: 100%;
  background-color: #fff;
  overflow-y: auto;
}

.page-template-the-scoop #primary main {
  background-color: #fff;
  padding-top: 20px;
  width: 80%;
  max-width: unset;
  height: auto;
  display: block;
}

.page-template-the-scoop #primary main #ohio-sticky {
  background-image: url("./img/ohio-trail-header-panel.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -15em;
}

.page-template-the-scoop #primary main .vote-cta-wrap {
  text-align: center;
  padding: 2em 1em;
}

.page-template-the-scoop #primary main .vote-cta-wrap button {
  padding: .5em;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  max-width: 250px;
  font-size: 1.25em;
  margin: 0 auto;
  border: 0;
  background-color: #9D2235;
}

.page-template-the-scoop #primary main .vote-cta-wrap button:hover, .page-template-the-scoop #primary main .vote-cta-wrap buttonfocus {
  cursor: pointer;
}

.page-template-the-scoop #primary main .main-top div h2, .page-template-the-scoop #primary main .main-bottom div h2 {
  font-size: 2.5em;
}

.page-template-the-scoop #primary main .main-top div .stops, .page-template-the-scoop #primary main .main-bottom div .stops {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.page-template-the-scoop #primary main .main-top div .trail-content, .page-template-the-scoop #primary main .main-bottom div .trail-content {
  line-height: 1.5;
}

.page-template-the-scoop #primary main .main-top div.trail-actions p, .page-template-the-scoop #primary main .main-bottom div.trail-actions p {
  padding: 1em;
}

.page-template-the-scoop #primary main .main-top div.trail-actions p a, .page-template-the-scoop #primary main .main-bottom div.trail-actions p a {
  padding: .5em;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  max-width: 250px;
  font-size: 1.25em;
  margin: 0 auto;
}

.page-template-the-scoop #primary main .main-top div.trail-actions p a:hover, .page-template-the-scoop #primary main .main-top div.trail-actions p a:focus, .page-template-the-scoop #primary main .main-bottom div.trail-actions p a:hover, .page-template-the-scoop #primary main .main-bottom div.trail-actions p a:focus {
  text-decoration: none;
}

.page-template-the-scoop #primary main .main-top div.trail-actions p a.get-it, .page-template-the-scoop #primary main .main-bottom div.trail-actions p a.get-it {
  background-color: #FEBD3B;
}

.page-template-the-scoop #primary main .main-top div.trail-actions p a.see-it, .page-template-the-scoop #primary main .main-bottom div.trail-actions p a.see-it {
  background-color: #74D2E7;
}

.page-template-the-scoop #primary main .main-top div.flex-wrap, .page-template-the-scoop #primary main .main-bottom div.flex-wrap {
  padding: 1em;
}

.page-template-the-scoop #primary main .main-top div.flex-wrap div:first-of-type, .page-template-the-scoop #primary main .main-bottom div.flex-wrap div:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.page-template-the-scoop #primary main .main-top div.flex-wrap div:last-of-type, .page-template-the-scoop #primary main .main-bottom div.flex-wrap div:last-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.page-template-the-scoop #primary main .main-top .socials, .page-template-the-scoop #primary main .main-bottom .socials {
  padding: 4em 2em;
}

.page-template-the-scoop #primary main .main-top .socials ul, .page-template-the-scoop #primary main .main-bottom .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-template-the-scoop #primary main .main-top .socials ul li a, .page-template-the-scoop #primary main .main-bottom .socials ul li a {
  display: block;
  margin: 0 .5em;
}

.page-template-the-scoop #primary main .main-top div:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 60%;
          flex: 1 0 60%;
}

.page-template-the-scoop #primary main .main-top div:last-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.page-template-the-scoop #primary main .main-top .socials {
  padding: 2em;
}

.page-template-the-scoop #primary main .main-top .socials ul li a img {
  width: 32px;
}

.page-template-the-scoop #primary main .main-bottom {
  padding-bottom: 4em;
  margin-bottom: 0;
}

.page-template-the-scoop #primary main .main-bottom > div h2 {
  font-size: 5em;
}

.page-template-the-scoop #primary main .post-wrap article {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.page-template-the-scoop #primary main .post-wrap article h2 {
  font-size: 1.25em;
  margin-bottom: .25em;
}

.page-template-the-scoop #primary main .post-wrap article h3 {
  font-size: .8em;
}

.page-template-the-scoop #primary main .post-wrap article .divider {
  border: 1px solid #ccc;
  width: 12%;
  margin: 1.5em 0;
  display: block;
}

.page-template-the-scoop #primary main .post-wrap article div:first-of-type {
  width: 100%;
}

.page-template-the-scoop #primary main .post-wrap article div:first-of-type span {
  display: block;
  width: 100%;
  padding-bottom: 220px;
  background-position: center;
  background-size: cover;
  border: 1px solid #999;
}

.page-template-the-scoop #primary main .post-wrap article div:last-of-type {
  padding: 2em 0;
}

.page-template-the-scoop #primary main .post-wrap article div:last-of-type p {
  line-height: 1.25;
}

.page-template-the-scoop #primary main .post-wrap article div:last-of-type > h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.page-template-the-scoop #primary main .post-wrap article div:last-of-type > h2 span.item-www a {
  background-image: url("./img/icons/cast.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 22px;
  height: 18px;
}

@media (min-width: 900px) {
  .page-template-the-scoop #primary main {
    padding-top: 80px;
    margin-right: 20%;
    padding-left: 5%;
  }
}

.page-template-the-scoop #primary main .post-wrap h2 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 30px;
}

.page-template-the-scoop #primary main .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

.page-template-the-scoop #primary main .socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-template-the-scoop #primary main .socials ul > img {
  width: 40px;
  margin-right: 1em;
}

.page-template-the-scoop #primary main .socials ul li span {
  color: #9D2235;
}

.page-template-the-scoop #primary main .socials ul li a {
  display: block;
  margin: 0 .5em;
}

.page-template-the-scoop #primary main .socials ul li a img {
  width: 32px;
}

@media (min-width: 900px) {
  .page-template-the-scoop #primary main .socials ul > img {
    width: 75px;
  }
  .page-template-the-scoop #primary main .socials ul li:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .page-template-the-scoop #primary main .socials ul li p {
    font-size: 1.8em;
  }
}

@media (min-width: 900px) {
  .page-template-the-scoop #primary main .post-wrap article div:last-of-type {
    padding-top: 0;
  }
}

@media (min-width: 600px) {
  .page-template-the-scoop #primary {
    height: calc(100vh - 80px);
  }
}

@media (min-width: 900px) {
  .page-template-the-scoop #primary {
    background-image: url("./img/side-map.jpg");
    background-position: top right;
    background-repeat: repeat-y;
  }
  .page-template-the-scoop #primary main {
    padding-left: 20%;
  }
  .page-template-the-scoop #primary main #ohio-sticky {
    display: block;
    width: 299px;
    height: 312px;
  }
  .page-template-the-scoop #primary main .main-top, .page-template-the-scoop #primary main .main-bottom > .flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .page-template-the-scoop #primary main .post-wrap article {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .page-template-the-scoop #primary main .post-wrap article div:first-of-type {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 220px;
            flex: 1 0 220px;
  }
  .page-template-the-scoop #primary main .post-wrap article div:first-of-type span {
    width: 100%;
  }
  .page-template-the-scoop #primary main .post-wrap article div:last-of-type {
    padding: 1em 1em 1em 3em;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.page-template-the-scoop .content-wrap {
  width: 1160px;
}

.ice-cream-blog {
  width: 100%;
  background-color: #f6f6f6;
  padding: 2em 0;
}

.ice-cream-blog article {
  overflow: auto;
}

.ice-cream-blog article .blog-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.ice-cream-blog article .blog-contents div {
  padding: 0 1em 0 2em;
}

.ice-cream-blog .blog-image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
  padding-bottom: 150px;
  background-size: cover;
  background-position: center;
}

.ice-cream-blog .blog-container {
  max-width: 100%;
  margin: 0 30px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.ice-cream-blog .divider {
  border: 1px solid #ccc;
  width: 12%;
  margin: 3em 0 .5em;
  display: block;
}

.ice-cream-blog h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.ice-cream-blog h3 {
  font-size: 1.5em;
}

.ice-cream-blog p {
  line-height: 1.5;
}

.ice-cream-blog p.blog-date {
  margin: 5px 0 10px;
  font-size: 0.8em;
}

.page-template-the-scoop footer {
  display: none;
}

.page-template-landing-page-fall #page:before {
  content: "";
  top: 0;
  left: 0;
  background-image: url("landing-page/assets/oh-tourism-bg.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
}

.page-template-landing-page-winter #page:before {
  content: "";
  top: 0;
  left: 0;
  background-image: url("landing-page/assets/oh-tourism-winter-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
}

#leaves {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 9;
  overflow: hidden;
  pointer-events: none;
}

#leaves .leaf {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 99;
}

#leaves .leaf--one {
  background: url("img/new-leaf.png");
  background-size: 100% 100%;
}

#carousel-wrap {
  overflow: hidden;
}

#carousel-wrap .panel {
  position: relative;
}

#carousel-wrap .panel .inner {
  padding: 2em;
  position: relative;
  overflow: hidden;
}

#carousel-wrap .panel .inner .bg-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .45s all;
  transition: .45s all;
}

#carousel-wrap .panel .inner .ft-container {
  opacity: 0;
  -webkit-transition: .5s all;
  transition: .5s all;
}

#carousel-wrap .panel .inner .content {
  position: absolute;
  width: 100%;
  top: 49%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  max-width: 720px;
}

#carousel-wrap .panel .inner .content img {
  display: block;
  width: 80%;
  margin: 0 auto;
  max-width: 350px;
}

#carousel-wrap .panel .inner .content h1 {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 1em 0;
}

#carousel-wrap .panel .inner .content .copy {
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: .83em;
}

#carousel-wrap .panel .inner .content .copy p {
  margin-bottom: 1em;
}

#carousel-wrap .panel .inner .content .logo {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 100px;
  opacity: 0;
  -webkit-transition: .25s all;
  transition: .25s all;
}

#carousel-wrap .panel .inner--first {
  padding: 0;
  height: 100vh;
}

#carousel-wrap .panel .inner--second {
  height: 100vh;
}

#carousel-wrap .panel .inner--second:before, #carousel-wrap .panel .inner--second:after {
  display: block;
  width: 300vw;
  height: 300vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .7s all;
  transition: .7s all;
}

#carousel-wrap .panel .inner--second:before {
  content: '';
  position: absolute;
  z-index: -2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#carousel-wrap .panel .inner--second:after {
  content: '';
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#carousel-wrap .panel .inner--last {
  height: 100vh;
  background-color: #9D2235;
}

#carousel-wrap .panel .inner--overflow {
  padding: 7em 2em 10em;
}

#carousel-wrap .panel.loop {
  background-color: #111d1d;
}

#carousel-wrap .panel.loop .fp-scrollable .iScrollIndicator {
  border: none !important;
}

#carousel-wrap .panel.fp-completely .inner .bg-blur {
  opacity: .5;
  -webkit-filter: blur(1em);
          filter: blur(1em);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#carousel-wrap .panel.fp-completely .inner .ft-container {
  opacity: 1;
}

#carousel-wrap .panel.fp-completely .inner .content .logo {
  opacity: 1;
}

#carousel-wrap .panel.active .inner--second:before, #carousel-wrap .panel.active .inner--second:after {
  width: 300px;
  height: 300px;
}

#carousel-wrap.fall .panel .inner--first {
  background-color: #9D2235;
}

#carousel-wrap.fall .panel .inner--second:before {
  background-image: url("landing-page/assets/orange-pin.svg");
}

#carousel-wrap.fall .panel .inner--second:after {
  background-image: url("landing-page/assets/maroon-pin.svg");
}

#carousel-wrap.winter .panel .inner--first {
  background-color: #74D2E7;
}

#carousel-wrap.winter .panel .inner--second:before {
  background-image: url("landing-page/assets/lt-blue-pin.svg");
}

#carousel-wrap.winter .panel .inner--second:after {
  background-image: url("landing-page/assets/blue-pin.svg");
}

@media (min-width: 900px) {
  #carousel-wrap .panel .inner {
    height: 100vh;
  }
  #carousel-wrap .panel .inner .content h1 {
    font-size: 3em;
  }
  #carousel-wrap .panel .inner .content .copy {
    font-size: 1.05em;
  }
  #carousel-wrap .panel .inner .ft-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  #carousel-wrap .panel .inner .ft-container .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  #carousel-wrap .panel .inner--overflow {
    padding: 4em 2em;
  }
}

.sq-thumb {
  background-size: cover;
  background-position: center;
  padding-bottom: 56.25%;
  display: block;
}

@media (min-width: 900px) {
  .sq-thumb {
    padding-bottom: 100%;
  }
}

.ft-container .inner .rt img {
  width: 48px;
}

.ft-container .inner .rt h2, .ft-container .inner .rt p {
  color: #fff;
}

.ft-container .inner .rt h2 {
  font-weight: 300;
  font-size: 2em;
}

.ft-container .inner .rt p {
  line-height: 1.5;
}

.ft-container .inner .rt p.content-text span {
  margin-bottom: 1em;
  display: block;
}

.ft-container .inner .rt .btn-wrap {
  text-align: center;
  padding: 2em 0;
}

.ft-container .inner .rt .btn-wrap a {
  background-color: #74D2E7;
  border-radius: 1.5em;
  text-transform: uppercase;
  padding: .75em 2em;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.05em;
}

.ft-container .inner .rt .btn-wrap a:hover {
  background-color: #ED8B00;
}

@media (min-width: 900px) {
  .ft-container {
    height: 100vh;
  }
  .ft-container .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ft-container .inner .lt {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
  }
  .ft-container .inner .rt {
    padding: 2em;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 66%;
            flex: 1 0 66%;
  }
  .ft-container .inner .rt .stop-text {
    font-size: .83em;
    padding: .5em 0;
  }
  .ft-container .inner .rt .btn-wrap {
    text-align: left;
  }
  .ft-container .inner .rt .btn-wrap a {
    padding: .5em 2em;
    font-size: 1.25em;
  }
}

#icons {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#icons img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}

#icons img.orange-bg {
  z-index: -1;
}

.start-exploring-bg .se-row:first-of-type img {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
}

.start-exploring-bg .se-row:last-of-type {
  width: 5000px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.start-exploring-bg #cloud-right {
  position: relative;
  left: 100vw;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.start-exploring-bg #cloud-left {
  position: relative;
  left: -100vw;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.start-exploring-bg.done #cloud-right {
  left: 2vw;
}

.start-exploring-bg.done #cloud-left {
  left: -2vw;
}

#show-map {
  cursor: pointer;
  position: relative;
}

#show-map img {
  display: block;
  z-index: 2;
  position: relative;
  margin: 0 auto;
  top: 10px;
}

#show-map span {
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  position: relative;
  z-index: 2;
}

#show-map.pulse:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #5e1420;
  width: 145px;
  height: 145px;
  left: 30px;
}

#show-map.pulse:after {
  content: "";
  display: block;
  width: 124px;
  height: 124px;
  border-radius: 50%;
  border: 10px solid #5e1420;
  position: absolute;
  top: 2px;
  left: 30px;
  -webkit-animation: pulse 2s ease 0s infinite;
          animation: pulse 2s ease 0s infinite;
}

#controls-header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  display: none;
}

#controls-header .btn-wrap {
  position: absolute;
  left: 0;
  width: 130px;
  top: 4em;
}

#controls-header .btn-wrap a {
  display: block;
}

#controls-header .logo-wrap {
  position: absolute;
  left: 1em;
  top: 1em;
}

#controls-header .logo-wrap img {
  display: block;
  width: 150px;
  margin: 0 auto;
}

#controls-header .logo-wrap span {
  position: fixed;
  right: 0;
  top: 1.5em;
  font-size: .83em;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin: 1em;
}

#controls-header .logo-wrap span:after {
  content: '';
  display: block;
  height: 2px;
  width: 80%;
  background-color: #fff;
  margin-top: 1em;
  position: absolute;
  right: 0;
}

#controls-header.on {
  display: block;
}

@media (min-width: 900px) {
  #controls-header .btn-wrap {
    top: 2em;
  }
  #controls-header .logo-wrap {
    left: 50%;
    top: 2em;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
  }
  #controls-header .logo-wrap img {
    width: 250px;
  }
  #controls-header .logo-wrap span {
    position: relative;
    padding: 1em;
    margin: 0;
    top: 0;
    font-size: 1em;
    letter-spacing: 2px;
  }
  #controls-header .logo-wrap span:after {
    width: 100%;
  }
}

#scroll-wrap {
  height: 75px;
  position: fixed;
  bottom: 0;
  left: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#scroll-wrap .line {
  position: absolute;
  width: 1px;
  display: block;
  height: 100%;
  height: 100%;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#scroll-wrap .dot {
  background-color: #fff;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  left: 50%;
  top: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: track 2s ease 0s infinite;
          animation: track 2s ease 0s infinite;
}

#scroll-wrap .text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .6em;
  color: #fff;
  left: -10px;
  bottom: 3em;
}

@media (min-width: 900px) {
  #scroll-wrap {
    left: 50%;
  }
}

/* ============================================================================== Feature === */
#featureWindow {
  display: none;
  margin-top: 80px;
}

#featureWindow .inner {
  padding: 6em 2em 10em;
  height: calc(67vh - 80px);
  overflow-y: auto;
}

#featureWindow .inner h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: .5em 0;
}

#featureWindow .inner h4 strong {
  font-weight: 700;
}

#featureWindow .inner h2 {
  text-align: center;
  font-size: 2em;
  margin: .5em;
}

#featureWindow .inner h2.feature-title {
  text-transform: capitalize;
}

#featureWindow .inner p {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1rem;
}

#featureWindow .inner p.ft-btn-wrap {
  margin: 0 auto;
}

#featureWindow .inner p.ft-btn-wrap button {
  padding: .75em 2em;
  border-radius: 2em;
  border: 1px solid rgba(255, 255, 255, 0.9);
  font-size: .83em;
  color: #fff;
  text-transform: uppercase;
  margin: .5em 0 2em;
  -webkit-transition: .25s all;
  transition: .25s all;
  cursor: pointer;
}

#featureWindow .inner::-webkit-scrollbar {
  width: 6px;
}

#featureWindow .inner::-webkit-scrollbar-thumb {
  background-color: #63666A;
  border-radius: 6px;
}

#featureWindow.fall {
  background: #ffc700;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc700), to(#ff9018));
  background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#featureWindow.fall .inner h4 {
  color: #9D2235;
}

#featureWindow.fall .inner p.ft-btn-wrap button {
  background-color: #FEBD3B;
}

#featureWindow.fall .inner p.ft-btn-wrap button:hover {
  background-color: #ED8B00;
}

#featureWindow.winter {
  background: #74D2E7;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#e2f5fa), to(#74D2E7));
  background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#featureWindow.winter .inner h4 {
  color: #1B365D;
}

#featureWindow.winter .inner p.ft-btn-wrap button {
  background-color: #74D2E7;
}

#featureWindow.winter .inner p.ft-btn-wrap button:hover {
  background-color: #1B365D;
}

#featureWindow.open {
  display: block;
}

@media (min-width: 900px) {
  #featureWindow .inner {
    height: calc(100vh - 80px);
  }
}

#snow-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}

.fall .categoryFilter__listView li button:hover[data-category="feature"] {
  background: #ffc700;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc700), to(#ff9018));
  background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.fall .categoryFilter__listView li.active button[data-category="feature"] {
  background: #ffc700;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc700), to(#ff9018));
  background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.fall .categoryFilter__sidebar li.active button[data-category="feature"], .fall .categoryFilter__sidebar li.hover button[data-category="feature"] {
  background: #ffc700;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffc700), to(#ff9018));
  background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.winter .categoryFilter__listView li button:hover[data-category="feature"] {
  background: #74D2E7;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#e2f5fa), to(#74D2E7));
  background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.winter .categoryFilter__listView li.active button[data-category="feature"] {
  background: #74D2E7;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#e2f5fa), to(#74D2E7));
  background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.winter .categoryFilter__sidebar li.active button[data-category="feature"], .winter .categoryFilter__sidebar li.hover button[data-category="feature"] {
  background: #74D2E7;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#e2f5fa), to(#74D2E7));
  background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes toAndFro {
  0% {
    left: -1.5em;
  }
  50% {
    left: -2em;
  }
  100% {
    left: -1.5em;
  }
}

@keyframes toAndFro {
  0% {
    left: -1.5em;
  }
  50% {
    left: -2em;
  }
  100% {
    left: -1.5em;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-webkit-keyframes track {
  0% {
    opacity: 1;
    top: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}

@keyframes track {
  0% {
    opacity: 1;
    top: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
/*# sourceMappingURL=style.css.map */