@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Lato:300,400,700');
$lato: 'Lato', sans-serif;

$scarlet: #9D2235;
$gold: #FEBD3B;
$orange: #ED8B00;

body, html {
    &.login {
		background: $scarlet;
		font-family: $lato;
	}
}

.login { 
	h1 {
		a {
			background-image: url('img/FPO_logo.png');
			width: 100%;
            height: 100px;
            background-size: contain;
		}
	}
	
	.message {
		border-left: 4px solid $orange;
	}
	
	#nav, #backtoblog {
		a {
			color: #fafafa;
			transition: .25s;
			
			&:hover, &:focus {
				color: $gold;
			}
		}
	}
	
	input[type="text"], input[type="password"] {
	    &:focus {
	        border-color: $orange;
            box-shadow: 0 0 2px rgba(237,139,0,.8);
	    }
	}
}

.wp-core-ui {
    .button-primary {
       background: $orange;
       border-color: #ffa321 #d47c00 #d47c00;
       box-shadow: 0 1px 0 #d47c00;
       text-shadow: 0 -1px 1px #d47c00, 1px 0 1px #d47c00, 0 1px 1px #d47c00, -1px 0 1px #d47c00;
       
        &:hover {
            background: #ff9907;
            border-color: #d47c00;
        }
        &:focus {
            box-shadow: 0 1px 0 #d47c00, 0 0 2px 1px #ffc777;
            background: #ff9907;
            border-color: #d47c00;
        }
    }
}
