.featured-trail{
  position:relative;
  height:100vh;
}
.featured-background {
top: 0;
left: 0;
background-size: cover;
background-position: right top;
background-attachment: absolute;
height: 100vh;
width: 100%;
filter: blur(1.2rem);
z-index: -1;
}

.container {
height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
}

.header {
text-align: center;
}

.top-divider {
width: 150px;
}

.main-icon {
margin-top: 20px;
width: 248px;
height: 70px;
}

.featured-fall-trails {
margin: 10 0 0 0;
padding: 0;
}

.content {
display: flex;
flex: 4;
}

.left {
flex: 1;
display: flex;
}

.number-label {
flex: 1;
font-size: 50px;
width: 100%;
margin-left: 45;
}

.number-label p {
margin-top: 20px;
}

.full-image {
flex: 7;
padding: 30px;
}

.img {
height: 400px;
width: 400px;
}

.mini-icon {
height: 80px;
width: 80px;
}

.right {
flex: 1;
}

.view-map-div {
width: 150px;
height: 50px;
position: absolute;
top: 60;
left: 0;
}

.content-inner {
display: flex;
flex: 1;
}

.content-outer {
padding: 50px;
flex: 4;
}

.content-label-main {
margin: 5;
}

.stop-text {
font-size: 14px;
}

.content-line-break {
width: 200px;
margin-left: 0;
}

.content-text {
margin-right: 120px;
font-size: 16px;
line-height: 2;
}

.view-trail-button {
width: 210px;
height: 46px;
}

.scroll-indicator {
height: .5em;
width: .5em;
background: #fff;
border-radius: 99px;
position: fixed;
bottom: 45;
left: 49.69%;
z-index: 99;
position: absolute;
}

.scroll-word {
left: 48.5%;
letter-spacing: .3em;
position: absolute;
}

.scroll-word {
transform: rotate(-90deg);
font-size: .55em;
letter-spacing: .4em;
color: white;
position: fixed;
bottom: 20;
left: 49%;
z-index: 99;
position: absolute;
}

.scroll-line {
width: 1px;
height: 80px;
background: #fff;
position: fixed;
bottom: 0;
left: 50%;
z-index: 99;
position: absolute;
}

@media only screen and (min-width: 601px) and (max-width: 979px) {
.scroll-indicator {
left: 49.7%;
}
}