/*Backgrounds and Leaves*/

body {
  margin: 0;
  padding: 0;
}

.maroon-bg, .orange-bg {
  height: 3000px;
  width: 3000px;
  top:50%;
  transform: translateY(-50%);
}

.maroon-bg {
  z-index: 3;
}

.orange-bg {
  z-index: 1;
}

.backgrounds {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
}

.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.leaves {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.leaf {
  max-width: 150px;
}

.hidden {
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.collapsed-bg {
  width: 0;
  height: 0;
  top:50%;
  transform: translateY(-50%);
  -webkit-transition: width 1.5s, height 1.5s;
  transition: width 1.5s, height 1.5s;
}

/*Individual Leaves*/

.leaf1 {
  position: absolute;
  top: -7%;
  left: 90%;
  max-width: 100px;
  z-index: 5;
}

.leaf2 {
 position: absolute;
  top: 80%;
  left: 20%;
  z-index: 5;
}

.leaf3 {
  position: absolute;
  top: 7%;
  left: 30%;
  z-index: 5;
}

.leaf4 {
  position: absolute;
  top: 40%;
  left: -5%;
  filter: blur(.8px);
  z-index: 5;
}

.leaf5 {
  position: absolute;
  top: 69%;
  left: 88%;
  filter: blur(2px);
  max-width: 20px !important;
  z-index: 5;
}

.leaf6 {
  position: absolute;
  top: 30%;
  left: 63%;
  z-index: 5;
  filter: blur(1px);
}

.leaf8 {
  position: absolute;
  top: 0%;
  left: 8%;
  z-index: 5;
}

/*Logos, Pins, and Text*/

.logo-initial {
 position: absolute;
 top: 51%;
 left: 50%;
 transform: translate(-50%, -123%);
 z-index: 6;
 max-width: 400px;
}

.copy {
 position: absolute;
 top: 69%;
 left: 50%;
 transform: translate(-50%, -80%);
 text-align: center;
 color: white;
 width: 70%;
 max-width: 750px;
 z-index: 6;
 font-size: 1.1rem;
}

.small-pin {
 width: 310px;
 height: 360px;
 -webkit-transition: width 1.5s, height 1.5s;
 transition: width 1.5s, height 1.5s;
}

.logo {
 position: absolute;
 top: 65%;
 left: 49.9%;
 transform: translate(-50%, -123%);
 z-index: 3;
 max-width: 120px;
 opacity: 0;
}

.logo-visible {
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

/* Bottom Scroll Line Indicator */
.scroll-line {
  width: 1px;
  height: 100px;
  background: #fff;
  position: fixed;
  top: 93%;
  left: 50%;
  z-index: 99;
}

.scroll-word {
  transform: rotate(-90deg);
  font-size: .55em;
  letter-spacing: .4em;
  color: white;
  position: fixed;
  top: 94.9%;
  left: 49%;
  z-index: 99;
}

.scroll-indicator {
  height: .5em;
  width: .5em;
  background: #fff;
  border-radius: 99px;
  position: fixed;
  top: 92.4%;
  left: 49.69%;
  z-index: 99;
}

/*Slider CSS*/

.slide-bg {
  background-image: url('/wp-content/uploads/2018/09/autumn-background.jpg');
  background-size: cover;
  background-position: right top;
  background-attachment: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1 !important;
}

/*Mobile*/

@media only screen and (max-width: 600px) {
  .copy {
    width: 90%;
    top: 72%;
  }

  .logo-initial {
    top: 45%;
  }

  .leaf8 {
    top: 0%;
    left: -15%;
  }

  .leaf6{
    display: none
  }

  .leaf5 {
    top: 65%;
    left: 68%;
  }

.leaf2{
 position: absolute;
  top: 72%;
  left: 20%;
}

.leaf3 {
  position: absolute;
  top: 7%;
  left: 55%;
  z-index: 3;
}

.leaf4 {
  position: absolute;
  top: 40%;
  left: -10%;
  filter: blur(.8px)
}

.scroll-indicator {
  left: 49.3%;
}

.scroll-word {
  left: 48.5%;
  letter-spacing: .3em
}

.logo {
   top: 60.8%;
   max-width: 100px;
 }

 .maroon-pin {
   top: 62.35%;
 }

}

/*Tablet Scroll Circle Indicator and Text*/

@media only screen and (min-width: 601px) and (max-width: 979px) {
.scroll-indicator {
  left: 49.7%;
}

.copy {
    top: 72%;
  }
}
