@keyframes bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes toAndFro {
    0% { left: -1.5em; }
    50% { left: -2em; }
    100% { left: -1.5em; }
}

@keyframes pulse {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  80% {
      opacity: 0;
      transform: scale(1.5);
  }
  100% {
      opacity: 0;
      transform: scale(2);
  }
}

@keyframes track {
    0% {
        opacity: 1;
        top: 0;
    }
    60% {
        opacity: 1;
       // top: 50%;
    }
    100% {
        opacity: 0;
        top: 90%;
    }
}