body, html {
	margin:0;
	padding:0;
	font-family: $lato;
	color: $blk;

	&.list-open, &.page-template-the-scoop {
		overflow: hidden;
	}
}

svg, img { pointer-events:none; }

a {
	color: $scarlet;
	text-decoration: none;
	transition: .5s;
	
	&:hover, &:focus {
		text-decoration: underline;
		outline: none;
	}
}

button {
	&:hover, &:focus {
		outline: none;
	}
}

.radial {
	@include breakpoint($break-md){
		position: relative;
	    overflow: hidden;
	    -webkit-transform: perspective(1px) translateZ(0);
	    transform: perspective(1px) translateZ(0);
	    
	    &:before {
	    	content: '';
		    position: absolute;
		    z-index: -1;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    border-radius: 100%;
		    -webkit-transform: scale(0);
			transform: scale(0);
			-webkit-transition-property: transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
	    }
	    
	    &--rog {
	    	&:before { background: #F26A36; }
	    }
	    &--org {
	    	&:before { background: #ED8B00; }
	    }
	    &--blu {
	    	&:before { background: #1B365D; }
	    }
	    
	    &:hover, &:focus {
	    	&:before { 
	    		-webkit-transform: scale(2);
	    		transform: scale(2);
	    	}
	    }
	    
	    &--long {
	    	&:hover, &:focus {
	    		&:before { 
	    			-webkit-transform: scale(2, 10);
	    			transform: scale(2, 10); 
	    		}
	    	}
	    }
	}
}

#page {
	overflow: auto;
	position: fixed;
    width: 100vw;
    
    &.gingerbread {
		overflow: hidden;
		display: block !important;
		// position: fixed;
	}
	
	.page-template-landing-page & {
		position: unset;
	}
}

.content-wrap {
	padding: .5rem 1rem;
	max-width: $content-width;
	margin: 0 auto;
	position: relative;
}

#application {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	
	@include breakpoint($break-sm) {
		@include flex-display;
		@include flex-justify-between;
		@include flex-items-stretch;
		position: static;
	}
}

#new-kid {
	// display: none;
	opacity: 0;
	background-color: rgba(0,0,0,.5);
    position: absolute;
    z-index: 9998;
    height: 100vh;
	width: 100vw;
	transition: all .25s;
	
	.inner-wrap {
		position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
    	max-width: 260px;
		width: 100%;
		padding: 1em 2em 1em 1em;
		background-color: rgba(0,0,0,0.5);
		border-radius: .5em;
		transition: all .25s;

		p {
			color: #fff;
			margin-bottom: .25em;
			line-height: 1.25;

			&.sm {
				font-size: .83rem;
				width: 80%;
				margin: 0;
				position: relative;

				/*
				&:before {
					position: absolute;
					@include font-awesome('\f060', 900);
					// left: -1.5em;
					font-size: 1.5em;
					animation: toAndFro 1s infinite; 
				}
				*/
			}
		}

		&.bounce {
			animation: bounce .25s ease-in-out; 
		}

		&:after {
			content: '';
			height: 100px;
			width: 100px;
			background-image: url(img/icons/pin-blank.svg);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			right: -45px;
			top: -35px;
		}

		img {
			display: block;
			width: 100%;

			
		}
	}

	&.pop {
		opacity: 1;
	}

	@include breakpoint($break-md){
		.inner-wrap {
			left: 25%;
		}
	}
}
/*
#transition {
	position: fixed;
	width: 100vw;
	height:100vh;
	background-size: cover;
	background-position: center;
	z-index: 99999;

	img {
		display: none;
		height: 100vh;
		width: 100vw;
		position: absolute;
    	top: 0;
		left: 0;
		
		&.on {
			display: block;
		}
	}
}
*/

header {
	background-color: $scarlet;
	position: fixed;
    top: 0;
    width: 100vw;
    z-index: 998;
	
	@include breakpoint($break-sm) {

	}
	@include breakpoint(782px) {

	}
}

#masthead {
	> div {
		@include flex-display;
		@include flex-justify-between;
		@include flex-items-center;
	}
	
	@include breakpoint($break-sm) {
		> div {

		}
	}
}

#header_nav {
	display: none;
	position: absolute;
	z-index: 9999;
    top: 75px;
    width: 100%;
    left: 0;
    
    ul {
    	background-color: #fff;
    	
    	li {
    		a {
    			padding: 1.5rem 1rem;
    			background-color: #f5f5f5;
    			color: $blk;
    			text-decoration: none;
    			@include flex-display;
				@include flex-justify-between;
				@include flex-items-center;
				margin-bottom: 4px;
				border-left: 8px solid transparent;
				font-family: $lato;
				text-transform: uppercase;
				transition: .25s;
    			
    			&:after {
    				content: '\f054';
    				font-family: $fa;
    				display: none;
    			}
    			
    			&:hover, &:focus {
					border-left: 8px solid $scarlet;
    			}
    		}	
    		
    		&:last-child {
    			a {
    				margin: 0;
    			}
    		}
    	}
    }
    
    @include breakpoint($break-sm) {
    	top: 104px;
    	width: 350px;
    }
}

main {
	position: relative;
}

#ohio-logo {
	width: 150px;
    display: block;
    margin: 0 1rem;
	
	img {
		width: 100%;
	}
	
	@include breakpoint($break-sm) {
		width: 180px;
		margin: 0 2rem;
	}
}

.navigation-top {
	a {
		color: #fff;
		text-decoration: none;
		font-family: $lato;
		font-size: .83rem;
		border-left: 2px solid #731927;
    	padding: 1.5rem 1rem;
    	display: block;
		
		&:hover, &:focus {
			cursor: pointer;
		}
	}
	
	@include breakpoint($break-sm){
		a {
			padding: 2rem 1rem;
			font-size: 1rem;
		}
	}
}

#nav-toggle {
	font-family: $lato;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	background: transparent;
	font-size: 1.05rem;
	@include flex-display;
	
	svg {
		font-size: 1.25em;
    	margin-left: .25em;
	}
	
	&:hover, &:focus {
		cursor: pointer;
		outline: none;
	}
}

#primary {
	height: 100vh;

	#page-content {
		.ui-controls {
			text-align: right;
			
			button {
				font-size: 1.5rem;
				border: 0;
				background-color: transparent;
				@include flex-display-inline;
				@include flex-justify-end;
				@include flex-items-center;
				
				span {
					font-size: .9rem;
    				margin-right: .5rem;
    				opacity: 0;
    				transition: .25s;
				}
				
				&:hover, &:focus {
					cursor: pointer;
					
					span { opacity: 1; }
				}
			}
		}
		
		#explore-go {
			padding: .5rem;
			text-align: center;
			
			a {
				padding: .5rem 1rem;
				background-color: $gold;
				border-radius: 15px;
				text-decoration: none;
				@include flex-display-inline;
				@include flex-justify-center;
				@include flex-items-center;
				
				svg { 
					font-size: 1.5rem;
					color: #7C4D3A;
					margin-right: .5rem;
				}
				
				span {
					color: #fff;
					font-size: .75rem;
				}
				
				&:hover, &:focus {
					cursor: pointer;
				}
			}
		}
		
		h2 {
			font-size: 1.5em;
    		font-weight: 700;
    		margin-bottom: .5em;
		}
    	
    	p {
    		line-height: 1.5;
    		font-family: $lato;
    	}

    	.page-child & {
	    	height: 65vh;
		    margin: 1rem;
		    padding: 2rem 1rem;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    z-index: 99;
		    background-color: #fff;
		    box-shadow: 0 0 15px rgba(0,0,0,0.5);
		    border-radius: 5px;
			    
		    h2 {
		    	text-align: center;
		    	line-height: 1.25;
		    }
		    
		    .scroll-bucket {
	    		overflow: hidden;
	    		position: relative;
	    		height: 35vh;
	    		padding-top: .5rem;
	    		border-top: 1px dashed $gold;
	    		
	    		> div {
	    			overflow-y: scroll;
	    			height: 100%;
	    			text-align: center;
	    			font-size: .8rem;
	    			
	    			&::-webkit-scrollbar-track {
	
					}
					&::-webkit-scrollbar {
				    	width: 6px;
					}
					&::-webkit-scrollbar-thumb {
				    	background-color: $stone;
				    	border-radius: 6px;
					}
	    		}
	    	}
	    	
	    	&.close {
				top: -100%;
			}
    	}
	}
	
	&.nav-open {
		opacity: .5;
	}
	
	@include breakpoint($break-sm) {
		#page-content {
			.page-child & {
				top: 0;
    			left: calc(100vw - 400px );
    			max-width: 400px;
			}
			
			&.close {
				top: -100%;
			}
		}
	}
	@include breakpoint(782px) {

	}
}

#listFilters {
	margin-top: 1em;
}

#ui-controls {
	position: fixed;
	height: 100%;
	top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 9998;
	transition: .25s;
    pointer-events: none;
	
	.pill-holder {
		background-color: $scarlet;
		top: 110px;
		position: absolute;
		z-index: 99;
		border-radius: 0 30px 30px 0;
		width: 200px;
		left: -50px;
		transition: .25s;

		ul {
			@include flex-display;
			@include flex-justify-end;
			@include flex-items-center;

			li {
				&:nth-of-type(1) {
					display: none;
				}
			}
		}

		button {
			pointer-events: auto;
			color: #fff;
			background-color: transparent;
			/*
			@include flex-display;
			@include flex-justify-center;
			@include flex-items-center;
			*/
			font-size: 1.75em;
			margin-right: .5em;
			border: 0;
			transition: .25s;
			padding: .25em .5em;			
			
			span {
				font-size: .3em;
				display: block;
				transition: .25s;
			}
			
			&:hover, &:focus {
				cursor: pointer;
			}
		}

		&.open {
			left: 0;
			top: 64px;
			
			ul {
				li {
					&:nth-of-type(1) {
						display: block;
						flex: 1 0 auto;
					}
				}
			}
		}

		&.list {
			ul {
				li {
					&:nth-of-type(2) {
						button {
							@include flex-display;
							@include flex-justify-center;
							@include flex-items-center;
							@include flex-direction-row-reverse;

							span {
								font-size: .45em;
								padding: 0 .5em;
							}
						}
					}
					&:nth-of-type(3) {
						display: none;
					}
				}
			}
		}

		&.filter {
			ul {
				li {
					&:nth-of-type(2) {
						display: none;
					}
					&:nth-of-type(3) {
						button {
							@include flex-display;
							@include flex-justify-center;
							@include flex-items-center;
							@include flex-direction-row-reverse;

							span {
								font-size: .5em;
								padding: 0 .5em;
							}
						}
					}
				}
			}
		}

		.map-page & {
			top: 65px;
		}

		@include breakpoint($break-sm) {
			top: 130px; 
			left: -125px;
			width: 280px;

			&.open {
				top: 130px;
			}

			.map-page & {
				top: 100px;
				left: -120px;

				&.open {
					top: 100px;
					left: 0px;
				}
			}
		}

		@include breakpoint($break-md) {
			top: 140px;

			&.open {
				top: 140px;
			}

			.map-page & {
				top: 120px;

				&.open {
					top: 120px;
				}
			}
		}
	}
    
    #map-toggle {
    	bottom: 1rem;
    	left: 1rem;
    }
    #filter-toggle {
    	bottom: calc(1.5rem + 42px);
    	left: 1rem;
    }

	#sidebar {
		background-color: $scarlet;
		height: 100%;
		margin-top: 60px;
		padding-top: 60px;
		left: -100vw;
		position: relative;
		transition: all .5s;

		#side-nav {
			border-top: 1px solid #fff;
			padding: 1em;
			margin: 1em;
			text-align: center;
			position: absolute;
			bottom: 4em;
			width: calc(100% - 2em);

			a {
				display: block;
				color: #fff;
			}
		}

		&.open {
			left: 0;
			pointer-events: all;
		}
	}
	
	@include breakpoint($break-sm){
		#sidebar {
			margin-top: 78px;
			padding-top: 115px;

			#side-nav {
				bottom: 7em;
			}
		}
	}
}

.categoryFilter {
	&__listView {
		@include flex-display;
		@include flex-justify-center;
		@include flex-items-center;
		@include flex-wrap;
		padding: .5em 0;

		li {
			flex: 0 0 auto;
			padding: .5em;

			button {
				padding: 1em 2em;
    			border: 0;
				background-color: #dedede;
				color: #bbb;
				transition: all .25s;
				width: 100%;

				&:hover {
					cursor: pointer;
					color: #fff;
					&[data-category="trail-head"] { background-color: $midnight; }
					&[data-category="spirits"] { background-color: $scarlet; }
					&[data-category="coffee"] { background-color: $orange; }
					&[data-category="food"] { background-color: $lake-foam; }
					&[data-category="shopping"] { background-color: $stone; }
					&[data-category="sightseeing"] { background-color: $spring; }
					&[data-category="artmuseum"] { background-color: $gold; }
				}
			}
			&.active {
				button {
					color: #fff;
					&[data-category="trail-head"] { background-color: $midnight; }
					&[data-category="spirits"] { background-color: $scarlet; }
					&[data-category="coffee"] { background-color: $orange; }
					&[data-category="food"] { background-color: $lake-foam; }
					&[data-category="shopping"] { background-color: $stone; }
					&[data-category="sightseeing"] { background-color: $spring; }
					&[data-category="artmuseum"] { background-color: $gold; }
				}
			}
		}
	}

	&__sidebar {
		z-index: 1;
		position: relative;

		li {
			transition: .25s;
			border-left: .5rem solid $drk-scarlet;
			
			button {
				@include flex-display;
	    		@include flex-justify-end;
				@include flex-items-center;
				width: 100%;
				color: #fff;
				background-color: $drk-scarlet;
				border: 0;
				padding: .75em .5em .75em 25px;
				transition: all .3s;
				
				span {
					opacity: .25;
					transition: all .3s;
					text-transform: capitalize;

					svg {
						// width: 25%;
						width: 32px;
    					// height: 25%;
					}

					&:first-of-type {
						font-size: .83rem;
						transition-duration: 0.3s;
						transition-timing-function: ease-out;
						padding: 0 1em;
						width: 90px;
					}
					&:last-of-type {
						transform: scale(.75) rotate(-45deg);
					    transform-origin: 50% 50%;
					    border-radius: 50% 50% 50% 0;
					    padding: 0 0px 0px 0;
					    width: 40px;
					    height: 40px;
					    background-color: $scarlet;
					}
				}
				
				&[data-category="trail-head"] { 
					svg {
	    				width: 40%;
    					height: 100%;
			    	}
				}
	    	
				
				&:before {
			    	content: '';
				    position: absolute;
				    z-index: -1;
				    top: 0;
				    left: 0;
				    right: 0;
				    bottom: 0;
				    border-radius: 100%;
					transform: scale(0);
					transition-property: transform;
					transition-duration: 0.3s;
					transition-timing-function: ease-out;
			    }
			}
			
			&.active, &.hover {
				border-left: .5rem solid $scarlet;
				
				button {
					// width: auto;
					cursor: pointer;

					span {
						opacity: 1;
						
						&:last-of-type {
							background-color: #fff;
						}
					}

					&[data-category="trail-head"] { background-color: $midnight; }
					&[data-category="spirits"] { background-color: $scarlet; }
					&[data-category="coffee"] { background-color: $orange; }
					&[data-category="food"] { background-color: $lake-foam; }
					&[data-category="shopping"] { background-color: $stone; }
					&[data-category="sightseeing"] { background-color: $spring; }
					&[data-category="artmuseum"] { background-color: $gold; }
					
				    &.radial {
				    	&--rog {
					    	&:before { 
					    		transform: scale(2);
					    		background: #F26A36;
					    	}
				    	}
				    }
				}
			}
		}
	}

	@include breakpoint($break-sm){
		&__listView {
			@include flex-justify-end;

			li {
				flex: 0 0 auto;
				padding: 1em 0 1em 1em;
			}
		}

		&__sidebar {
			li {
				button {
					padding: .75em .5em .75em 25px;

					span {
						&:first-of-type {
							width: auto;
						}
					}
				}
			}
		}
	}
}

#post-wrap {
	position: fixed;
    top: 100vh;
    background-color: #efefef;
    width: 100%;
    transition: .5s;
    
    > h2 {
    	text-align: center;
    	font-size: 2rem;
    	font-weight: 700;
    }
    
    > .go-explore {
    	padding: 1rem;
    }
    
    .post-head {
   		text-align: right;
   		
   		button {
			font-size: 1.5rem;
			border: 0;
			background-color: transparent;
			@include flex-display-inline;
			@include flex-justify-end;
			@include flex-items-center;
			
			span {
				font-size: .9rem;
				margin-right: .5rem;
				opacity: 0;
				transition: .25s;
			}
			
			&:hover, &:focus {
				cursor: pointer;
				
				span { opacity: 1; }
			}
		}
    }
    
    &.on {
    	height: 100%;
    	top: 0;
    	z-index: 0;
    	overflow-y: auto;
    	padding-top: 4rem;
    	padding-bottom: 8rem;
    	margin-top: 60px;
	}
	
	&.done {
		overflow-y: auto;
	}
    
    @include breakpoint($break-sm) {
    	> div {
			> .inner {
    			@include flex-display;
				@include flex-justify-start;
				@include flex-items-stretch;
				@include flex-wrap;
				padding-bottom: 8rem;
			}
    	}
    }
}

.post {
	@include flex-display;
	top: 100vh;
	opacity: 0;
    position: relative;
	transition: all .25s;
	width: 100%;
	
	.inner {
		padding-bottom: 1rem;
		width: 100%;

		> button {
			height: 200px;
	    	background-color: #999;
	    	background-position: center;
	    	background-size: cover;
			padding-bottom: 9rem;
			width: 100%;
			border: 0;

			div {
				position: absolute;
				top: 160px;
				right: 8em;
			}
	    	
	    	span {
	    		position: absolute;
	    		font-size: 3rem;
	    		z-index: 9;
	    		width: 84px;
	    		
	    		img {
	    			display: block;
	    			width: 100%;
	    		}
			}
			
			&:hover, &:focus {
				cursor: pointer;
			}
		}
		
		.solid-marker {
			path {
				fill: $gold;
			}
		}
		
		section {
			padding: 1rem 1rem 7.5rem;
			background-color: #fff;
			flex: 1 0 auto;
			position: relative;
			
			h2, p {
				margin: .5rem 0;
			}

			.single-trail-head & {
				padding: 6rem 1rem 3rem;

				> span {
    				position: absolute;
    				left: 50%;
    				top: 6px;
    				width: 96px;
					height: 96px;
					transform: translateX(-50%);
					z-index: 999;

					img {
						display: block;
						width: 100%;
					}
				}
			}
			
			@include breakpoint($content-width) {
				padding: 1rem 1rem 4rem;
			}
		}
		
		.post-link {
			text-align: center;
			
			button {
				background-color: $lake-foam;
				padding: .75rem 2rem;
				color: #fff;
				text-decoration: none;
				display: inline-block;
				text-align: center;
				border-radius: 1.5rem;
				width: 200px;
				font-size: 1rem;
				border: 0;
				margin: 0;
				
				&:hover, &:focus {
					cursor: pointer;
				}
			}
		}
		
		h2 {
			font-size: 1.5rem;
	    	font-weight: 700;
		}
		
		.list-foot {
			bottom: 1rem;
			width: calc(100% - 2rem);
			
			p {
				@include flex-display;
				@include flex-justify-center;
			}
				
			@include breakpoint($content-width) {
				position: absolute;
				@include flex-display;
				@include flex-justify-between;
				@include flex-items-stretch;
			
				p {
					&.post-link {
						flex: 1 0 40%;
						
						button {
							display: block;
							width: 100%;
							padding: .75rem 1rem;
							border-bottom-left-radius: 0;
							border-top-left-radius: 0;
						}
						
						&--override {
							@include flex-display;
							@include flex-justify-center;
							
							button {
								border-bottom-left-radius: 1.5rem;
		    					border-top-left-radius: 1.5rem;
		    					width: auto;
		    					padding: .75rem 3rem;
							}
						}
					}
					&.go-explore {
						padding: 0;
						flex: 1 0 60%;
						
						a {
							width: 100%;
							padding: .5rem 1rem;
							height: 100%;
							border-bottom-right-radius: 0;
		    				border-top-right-radius: 0;
						}
					}
				}
			}
		}
	
	}

	&.lift {
		top: 0;
		opacity: 1;
	}
	
	@include breakpoint($break-sm) {
		flex: 0 0 50%;
		
		.inner {
			@include flex-display;
			@include flex-justify-start;
			@include flex-items-stretch;
			@include flex-direction-column;
			
			padding: .5rem;
		}
	}
	
	@include breakpoint($break-md) {
		flex: 0 0 33%;
		
		.inner {
			> div {
				span {
	    			right: 0;
	    			left: .5rem;
	    		}
			}
		}
	}
	
	@include breakpoint($break-lg) {
		flex: 0 0 25%;
	}
}

footer {
	position: fixed;
    bottom: 0;
    left: 0;
	width: 100%;
	z-index: 999;
}

.social {
	@include flex-display;
	@include flex-justify-center;
	@include flex-items-center;
	margin-bottom: 2em;
		
	li {
		a {
			display: block;
			color: $blk; 
			
			span {
				font-size: 2rem;
				.fa-circle { color: #fff; }
			}
		}
	}
	
	@include breakpoint($break-sm) {
		@include flex-display;
		@include flex-justify-start;
		@include flex-items-start;
		margin: 0;
	}
}

#splash {
	// display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 200vh;
	z-index: 9999;
	overflow: auto;
	
	.splash-wrap {
		max-width: 640px;
    	width: 100%;
    	margin: 0 auto;
    	text-align: center;
		color: #fff;

    	.splash-inner {
			padding: 1rem;
			padding-bottom: 10rem;
    		width: 100%;
    		height: 100%;
    	}
    	
    	.logo {
    		max-width: 50%;
    		margin: 3rem auto;
    		
    		img {
    			width: 100%;
    			display: block;
    		}
    	}
    	
    	h1 {
    		font-size: 2rem;
    		font-weight: 700;
    		margin: 1rem 0;
    	}
    	
    	span {
    		display: block;
    		font-size: .9rem;
    		margin: 1rem 0 .5rem;
    	}
    	
    	p {
    		margin: .25rem 0 1rem;
    		font-weight: 300;
    		line-height: 1.5;
    	}
    	
    	ul {
    		display: none;
    	}
    	
    	&::-webkit-scrollbar-track {

		}
		&::-webkit-scrollbar {
	    	width: 6px;
		}
		&::-webkit-scrollbar-thumb {
    		background-color: $stone;
	    	border-radius: 6px;
		}
	}
	
	button {
		background-color: $scarlet;
		// background-color: transparent;
		font-family: $lato;
		color: #fff;
		padding: .5rem 2rem;
		border: 0;
		border-radius: 1em;
		font-size: 2rem;
		transition: all .5s;
		
		&:hover, &:focus {
			transform: scale(1.1);
			outline: 0;
			cursor: pointer;
		}
		
	}
	
	&.exploring {
		transition: .5s all ease-in-out;
		top: -100vh;

		.home-vid-wrap {
			transition: .5s all ease-in-out;
			top: -100vh;
		}
	}

	@include breakpoint($break-sm) {
		.splash-wrap {
			position: absolute;
    		left: 50%;
			transform: translateX(-50%);
			height: 100%;			
			
			.splash-inner {
				position: absolute;
				top: 50%;
    			transform: translateY(-50%);
    			height: auto;
    		}
			.logo {
				margin: 0 auto 3rem;
			}
			
			ul {
				margin: 2rem 0;
	    		@include flex-display;
				@include flex-justify-center;
				@include flex-items-end;
				
				li {
					padding: 0 1rem;
					flex: 1 0 30%;
					
					svg {
						width: 60%;
	    				height: auto;
	    				
						path {
							fill: #fff;
						}
					}
				}
			}
		}
	}
}

.go-explore {
	text-align: center;
	
	a {
		
		@include flex-display-inline;
		@include flex-justify-center;
		@include flex-items-center;
		background-color: $gold;
		padding: .5rem 2rem;
		border-radius: 1.5rem;
		color: #fff;
		text-decoration: none;
		width: 200px;
		
		> svg {
			height: 24px;
		}
		
		span {
			margin: 0 .5rem;
			flex: 1 0 auto;
		}
		
	}
	
	.post & {
		text-align: right;
	}
	
	@include breakpoint($break-sm) {
		padding: .5rem;
		width: auto;
	}
}

#mapCanvas {
 	height: calc(100vh - 100px);
 	margin-top: 100px;
 	width: 100vw;
 	position: relative;
    overflow: hidden;
    flex: 1 0 100%;
    transition: .25s;
	transition-timing-function: ease-in;
	
	.page-template-map-page & {
    	height: calc(100vh - 60px);
		margin-top: 60px;
    }
    
    .info & {
    	height: calc(33vh + 80px);
    	flex-grow: 1;
    	flex-shrink: 0;
    	flex-basis: calc(100% - 500px);
    	transition-timing-function: ease-out;
    }
    
    @include breakpoint($break-sm) {
    	.info & {
    		height: 100vh;
    	}
    }
    
    @include breakpoint($break-md) {
    	height: calc(100vh - 120px);
    	margin-top: 120px;
    	
    	.page-template-map-page & {
	    	height: calc(100vh - 80px);
    		margin-top: 80px;
	    }
    }
}

#infoWindow, #featureWindow {
	width: 100%;
	background-color:#fff;
	transition: .5s;
	position: absolute;
	top: 100vh;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99;
	order: 1;
	
	.carousel-wrap {
		height: 100%;
		overflow-y: auto;
		padding-bottom: 10em;
    	
    	&::-webkit-scrollbar-track {

		}
		&::-webkit-scrollbar {
	    	width: 6px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $stone;
	    	border-radius: 6px;
		}
	}

	.slick-arrow {
		position: absolute;
		z-index: 999;
    	top: 100px;
    	padding: .5rem;
    	border: 0;
    	background: transparent;
    	color: #ccc;
    	font-size: 2rem;
    	
    	span {
    		display: none;
    	}
    	
    	&.slick-next { right: 0rem; }
    	&.slick-prev { left: 0rem; }
    	
    	&:hover, &:focus {
    		cursor: pointer;
    	}
    	
    	@include breakpoint($break-sm){
    		position: static;
    		color: $blk;
    		bottom: 1rem;
    		font-size: .9rem;
    		transform: none;
    		
    		span {
    			display: inline-block;
    		}
    		
    		&.slick-next { right: 2rem; }
    		&.slick-prev { left: 1rem; }
    	}
	}
	
	.slick-slide {
		img {
			margin: 0 auto;
		}
	}
	
	.slick-list {
		height: auto !important;
	}

	
	.iw-header {
		display: none;
		text-align: right;
		position: relative;
		padding-bottom: 200px;
		// margin-top: 2rem;
		background-position: center;
    	background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
    	
    	img {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%,-50%);
    		width: 100%;
    		
    		.map-page & {
    			height: 100%;
    			width: auto;
    		}
    	}
    	
    	.page-child &, .post-template & {
    		margin-top: 0;
    		padding-bottom: 200px;
    		background-color: #999;
    		overflow: hidden;
    	}
	}
	
	.vid-wrapper {
		position: relative;
    	padding-bottom: 56.25%;
    	height: 0;
    	
    	iframe {
    		position:absolute;
    		top:0;left:0;
    		width:100%;
    		height:100%;
    	}
    	
		img {
			width: 100%;
		}
	}

	.go-trail {
		padding: .5rem;
		text-align: center;
		
		a {
			display: inline-block;
			background-color: $lake-foam;
			padding: .75rem 2rem;
			border-radius: 1.5rem;
			color: #fff;
			text-decoration: none;
			width: 200px;
		}
	}
	
	.iw-content-wrap {
		padding: 1em 2.5em;
		@include flex-display;
		@include flex-direction-column;
		
		.iw-content {
    		line-height: 1.5;
    		// overflow: scroll;
    		padding: 1rem;
    		border-bottom: 2px dotted #ccc;
    		margin-bottom: 1rem;
    		
    		p {
    			margin-bottom: 1rem;
    			text-align: center;
    			font-size: .83rem;
    			
    			&:last-of-type {
    				margin: 0;
    			}
    		}
    		
    		&::-webkit-scrollbar-track {

			}
			&::-webkit-scrollbar {
		    	width: 6px;
			}
			&::-webkit-scrollbar-thumb {
	    		background-color: $stone;
		    	border-radius: 6px;
			}
		}
		
		> h3 {
			text-align: center;
    		font-size: 1.25rem;
    		@include flex-display;
    		@include flex-justify-center;
    		@include flex-items-stretch;
    		
    		svg {
    			font-size: 1rem;
    		}
    		
    		> span {
    			margin: 0 .5rem;
    		}
		}
		
		.stop-list {
			text-align: center;
    		line-height: 1.75;
    		font-size: .83rem;
		}
		
		&.trail {
			padding-top: 3.5rem;
			position: relative;
			padding-bottom: 10rem;

			.timeline {
				text-align: center;
				margin-bottom: 1em;
			}
			
			.go-explore {
				position: absolute;
				top: -1.7rem;
				left: 50%;
    			transform: translateX(-50%);
			}
		}
	}
	
	.trail-title {
		text-align: center;
    	font-size: .65em;
    	margin-top: .5rem;
	}
	
	.item-title {
		text-align: center;
		font-weight: 300;
		font-size: 2.5rem;
		margin-top: 2rem;
	}
	
	.trail-count {
		text-align: center;
    	margin: 1.5rem 1rem;
    	font-size: 1.66rem;
    	@include flex-direction-column;
    	
    	a {
    		color: #a5a5a5;
    		font-size: .9rem;
    		padding: 1rem 0 0;
    		
    		&:hover, &:focus {
    			color: $blk;
    			text-decoration: none;
    		}
    	}
    	
    	@include breakpoint($break-sm) {
    		@include flex-direction-row;
    		
    		a {
    			border-left: 2px solid $blk;
				padding: .5rem 0 .5rem .5rem;
    		}
    		
    		> span {
    			padding: .25rem 0;
    		}
    	}
	}
	
	.item-address {
		text-align: center;
    	margin: .5rem 0;
    	font-size: .8rem;
    	
    	a {
    		color: $stone;
    		
    		&:hover, &:focus {
    			color: $scarlet;
    		}
    	}
	}
	
	.gdRating {
		@include flex-display;
		@include flex-justify-start;
		position: relative;
		width: 155px;
    	margin: 1.5rem auto;
    	display: none;
		
		li {
			&.star {
				color: #ccc;
				font-size: 1.5em;
				
				i {
					margin: 0 2px;
				}
				
				svg {
					margin: 0 .25rem;
				}
				
				&--top {
    				color: $gold;
    				padding: 0;
    				position: absolute;
    				z-index: 1;
    				@include flex-display;
					@include flex-justify-start;
    				top: 0;
    				left: 0;
    				overflow: hidden;
				}
				
				&--bot {
    				padding: 0;
    				display: block;
    				z-index: 0;
  				}
			}
		}
	}
	
	.website {
		text-align: center;
		margin-bottom: 1rem;
    	font-size: .8rem;
    	
    	a {
    		display: block;
    		padding: .5rem;
    		color: $blk;
    		text-decoration: none;
    		opacity: .2;
    		transition: .5s;
    		
    		&:hover, &:focus {
    			opacity: .9;
    		}
    	}
	}
	
	.photo-load {
		text-align: center;
    	display: none;
    	font-size: 4rem;
    	
    	&.loading {
    		display: block;
    	}
	}
	
	.photo-bucket {
		@include flex-display;
		@include flex-justify-between;
		@include flex-items-start;
		@include flex-wrap;
		
		li {
			flex: 1 0 32%;
    		background-size: cover;
    		padding: 16%;
    		margin: 1px;
    		text-align: center;
    		color: #ccc;
			
			img {
				display: block;
				width: 100%;
			}
		}
	}
	
	.trailNav {
		@include flex-display-inline;
		@include flex-justify-between;
		@include flex-items-center;
		padding: 1rem;
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	.iw-stops-list {
		column-count: 2;
		list-style-type: disc;
		padding-left: 1em;
		list-style-position: inside;
		text-indent: -1em;		

		li {
			font-weight: 400;
    		font-size: .83em;
			padding: .35em 0 .35em 1em;
		}
	}
	
	&.open {
		// top: 200px;
		order: 0;
	    height: 100%;
    	top: 33vh;
		border-top: 2px solid #d3d3d3;
	}

	@include breakpoint($break-sm){
		position: relative;
		max-width: 500px;
		flex: 1 0 500px;
		top: 0;
		left: 0;
		transform: none;
		padding-bottom: 4rem;
		
		.iw-header {
			display: block;
		}

		.carousel-wrap {
			padding-bottom: 0;
		}
		
		.btn-wrap {
			padding: 1rem 2.5rem;
		background-image: linear-gradient( to bottom, rgba(255,255,255, 0), rgba(255,255,255, 1) 60% );
			position: absolute;
    		bottom: 0;
    		width: 100%;
    		@include flex-display;
			@include flex-justify-between;
			@include flex-items-center;
		}
		
		.iw-bounds {
			padding: 0;
		}

		&.open {
			top: 0;
			height: auto;
			border: 0;
		}
	}
	@include breakpoint($break-md){
		
	}
}

.iw-bounds {
	top: 0;
	width: 100%;
	opacity: 0;
	transition: 1s;
	padding-bottom: 8rem;  
	
	&.on {
		display: block;
	}
	
	&:focus {
		outline: 0;
	}
	
	@include breakpoint($break-sm){
		padding-right: 0;
		// margin-top: 48px;
	}

	.hours {
		text-align: center;
		margin-bottom: 1em;
		line-height: 1.5;
		font-size: .83em;

		li {
			&.today {
				font-weight: 700;
				font-size: 1rem;
				margin: .25em 0;
				border: 1px solid #ccc;
				border-right: 0;
				border-left: 0;
				padding: .25em 0;
			}
		}
	}
	
	.slick-active & {
		opacity: 1;
	}
}

.closePanel {
	border: 0;
	position: absolute;
    top: 1rem;
    right: 1rem;
	background-color: transparent;
	font-size: 1.5rem;
    @include flex-display-inline;
	@include flex-justify-end;
	@include flex-items-center;
	z-index: 999;
	
	span {
		font-size: .9rem;
		margin-right: .5rem;
		opacity: 0;
		transition: .25s;
	}
	
	.map-page & {
		color: $blk;
	}
	
	&:hover, &:focus {
		outline: 0;
		cursor: pointer;
		
		span { opacity: 1; }
	}
	
	@include breakpoint($break-sm){
		font-size: 2rem;
		color: #fff;
	}
}

.cat-post-header {
	text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    text-transform: capitalize;
}

#page-load {
	display: none;
	position: fixed;
    font-size: 5rem;
    z-index: 9997;
    color: #fafafa;
    height: 100vh;
    width: 100vw;
	background-color: rgba(0,0,0,0.4);
    
    span {
    	position:absolute;
    	left: 50%;
    	top: 50%;
    	transform: translate(-50%, -50%);
    }
    
    &.loading {
		display: block;
		cursor: wait;
    }
}

#trail-home {
	@include flex-display;
	@include flex-justify-start;
	@include flex-items-center;
	position: absolute;
	top: 60px;
	width: 100%;
    background: #fff;
	z-index: 999;
	transition: .25s;
	padding: 1em;
	
    a {
		color: $scarlet;
	    border: 0;
		// font-size: 1.25rem;

	    
	    &:hover, &:focus {
    		cursor: pointer;
    		text-decoration: underline;
    	}
	}
	
	a, span {
		padding: 0 .25em;
	}

	span {
		text-transform: capitalize;
	}
    
    h1 {
    	padding: 0 1rem;
    	font-weight: 700;
    	font-size: 1.25rem;
    }
    
    .list-open & {
    	left: -100%;
	}
	
	@include breakpoint($break-sm) {
		top: 80px;
	}
}

#searchform {
	position: relative;
	
	.search-field {
		background-color: #fff;
    	border: 1px solid $scarlet;
    	border-radius: 1rem;
    	padding: 0.5rem;
    	width: 60vw;
    	max-width: 300px;
    	text-align: center;
    	padding-right: 2rem;
	}
	
	.go-search {
		position: absolute;
	    right: 0;
	    z-index: 999;
	    top: 50%;
	    transform: translateY(-50%);
	    background-color: $scarlet;
	    color: #fff;
	    padding: .5rem .55rem;
	    border: 1px solid $scarlet;
	    border-radius: 1rem;
	    transition: .25s;
	    
	    &:hover, &:focus {
	    	cursor: pointer;
	    	background-color: #731927;
	    }
	}
}

#vid-frame {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -2;
    opacity: 0.5;
}

.home-vid-wrap {
	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
	overflow: hidden;
	z-index: -1;
    
    video {
    	filter: blur(5px);
    	opacity: 0.5;
    	position: absolute;
		top: 50%; 
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%; 
		min-height: 100%; 
		width: auto; 
		height: auto;
		z-index: -1000; 
		overflow: hidden;
	}
}

.gm-style-iw {
	text-align: center;
	
	& + div {
		display: none;
	}
}

.iw-stop-wrap {
	h3 {
		outline: none;
		padding: 0 0 1em;
		font-size: 1.25em;
		@include flex-display;
		@include flex-justify-start;
		@include flex-items-center;

		&:after {
			@include font-awesome('\f067', 900);	
			margin-left: 1em;
			font-size: .7em;
		}

		&.ui-state-active {
			&:after {
				@include font-awesome('\f068', 900);	
			}
		}

		&:hover {
			cursor: pointer;
		}
	}
}