@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Lato:300,400,700');

$lato: 'Lato', sans-serif;
$roboto: 'Roboto Slab', serif;
$fa: 'Font Awesome 5 Solid';

$scarlet: #9D2235;
$drk-scarlet: #5e1420;
$stone: #63666A;
$blk: #2D2926;
$gold: #FEBD3B;
$orange: #ED8B00;
$lake-foam: #74D2E7;
$spring: #C4D600;
$midnight: #1B365D;

$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;

$content-width: 1600px;