.page-template-the-scoop  {
    #hero {
        padding-bottom: 50.25%;
        background-color: #ccc;
        background: url('./img/ice-cream-hero.jpg');
        background-position: center;
        background-size: cover;
    
        @include breakpoint($break-md) {
            padding-bottom: 28.25%;
            margin-right: 20%;
        }
    }

    #page {
        position: static;
        padding-top: 61px;
    
        @include breakpoint($break-sm){
            padding-top: 80px;
        }
    }

    #primary {
        width: 100%;
        background-color: #fff;
        // height: calc(100vh - 61px);
        overflow-y: auto;

        main {
            background-color: #fff;
            padding-top: 20px;
            width: 80%;
            max-width: unset;
            height: auto;
            display: block;

            #ohio-sticky {
                background-image: url('./img/ohio-trail-header-panel.png');
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                top: -15em;
            }

            .vote-cta-wrap {
                text-align: center;
                padding: 2em 1em;

                button {
                    padding: .5em;
                    width: 100%;
                    display: block;
                    text-align: center;
                    border-radius: 50px;
                    color: #fff;
                    max-width: 250px;
                    font-size: 1.25em;
                    margin: 0 auto;
                    border: 0;
                    background-color: $scarlet;

                    &:hover, &focus {
                        cursor: pointer;
                    }
                }
            }

            .main-top, .main-bottom {
                div {
                    h2 {
                        font-size: 2.5em;
                    }

                    .stops {
                        margin-bottom: 30px;
                        font-size: 1.5em;
                    }

                    .trail-content {
                        line-height: 1.5;
                    }

                    &.trail-actions {
                        p {
                            padding: 1em;

                            a {
                                padding: .5em;
                                width: 100%;
                                display: block;
                                text-align: center;
                                border-radius: 50px;
                                color: #fff;
                                max-width: 250px;
                                font-size: 1.25em;
                                margin: 0 auto;

                                &:hover, &:focus {
                                    text-decoration: none;
                                }

                                &.get-it {
                                    background-color: $gold;
                                }
                                &.see-it {
                                    background-color: $lake-foam;
                                }
                            }
                        }
                    }

                    &.flex-wrap {
                        padding: 1em;

                        div {
                            &:first-of-type {
                                flex: 1 0 60%;
                            }
                            &:last-of-type {
                                flex: 1 0 40%;
                            }
                        }
                    }
                }

                .socials {
                    padding: 4em 2em;

                    ul {
                        @include flex-display;
                        @include flex-justify-center;
                        @include flex-items-center;
                        
                        li {
                            a {
                                display: block;
                                margin: 0 .5em;
                            }
                        }
                    }
                }
            }

            .main-top {
                div {
                    &:first-of-type {
                        flex: 1 0 60%;
                    }
                    &:last-of-type {
                        flex: 1 0 40%;
                    }
                }

                .socials {
                    padding: 2em;
                    ul {
                        li {
                            a {
                                img { width: 32px; }
                            }
                        }
                    }
                }
            }

            .main-bottom {
                padding-bottom: 4em;
                margin-bottom: 0;

                > div {
                    h2 {
                        font-size: 5em;
                    }
                }
            }

            .post-wrap {
                article {
                    margin-bottom: 20px;
                    @include flex-display;
                    @include flex-justify-start;
                    @include flex-items-center;
                    @include flex-direction-column;

                    h2 {
                        font-size: 1.25em;
                        margin-bottom: .25em;
                    }
                    h3 {
                        font-size: .8em;
                    }

                    .divider {
                        border: 1px solid #ccc;
                        width: 12%;
                        margin: 1.5em 0;
                        display: block;
                    }

                    div {
                        &:first-of-type {
                            width: 100%;

                            span {
                                display: block;
                                width: 100%;
                                padding-bottom: 220px;
                                background-position: center;
                                background-size: cover;
                                border: 1px solid #999;
                            }
                        }
                        &:last-of-type {
                            padding: 2em 0;

                            p {
                                line-height: 1.25;
                            }

                            > h2 {
                                @include flex-display;
                                @include flex-justify-between;
                                @include flex-items-start;

                                span {
                                    &.item-www {
                                        a {
                                            background-image: url('./img/icons/cast.png');
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            display: block;
                                            width: 22px;
                                            height: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @include breakpoint($break-md){
            main {
                padding-top: 80px;
                margin-right: 20%;
                padding-left: 5%;
            }
        }

        main {
            .post-wrap {
                h2 {
                    font-size: 2.5em;
                    text-align: center;
                    margin-bottom: 30px;
                }
            }
            .socials {
                @include flex-display;
                @include flex-justify-between;
                @include flex-items-center;
                margin-top: 30px;
                ul {
                    @include flex-display;
                    // @include flex-justify-between;
                    @include flex-items-center;
                    & > img {
                        width: 40px;
                        margin-right: 1em;
                    }
                    li:nth-child(2) {
                        // flex: 1 0 50%;
                        // max-width: 55%;
                    }
                    li {
                        p {
                            // font-size: 2em;
                        }
                        span {
                            color: $scarlet;
                        }
                        a {
                            display: block;
                            margin: 0 .5em;
                            img {
                                width: 32px;
                            }
                        }
                    }
                }
                @include breakpoint($break-md) {
                    ul {
                        & > img {
                            width: 75px;
                        }
                        li:nth-child(1) {
                            flex: 0 1 50%;
                        }
                        li {
                            p {
                                font-size: 1.8em;
                            }
                            a {

                                img {

                                }
                            }
                        }
                    }
                }
            }
            @include breakpoint($break-md) {
                .post-wrap article div:last-of-type {
                    padding-top: 0;
                }
            }
        }

        @include breakpoint($break-sm) {
            height: calc(100vh - 80px);
        }
        @include breakpoint($break-md) {
            background-image: url('./img/side-map.jpg');
            background-position: top right;
            background-repeat: repeat-y;

            main {
                padding-left: 20%;
                
                #ohio-sticky {
                    display: block;
                    width: 299px;
                    height: 312px;
                }

                .main-top, .main-bottom > .flex-wrap {
                    @include flex-display;
                    @include flex-justify-between;
                    @include flex-items-center;
                }

                .post-wrap {
                    article {
                        @include flex-items-start;
                        @include flex-direction-row;

                        div {
                            &:first-of-type {
                                span {
                                    width: 100%;
                                }
                                flex: 1 0 220px;
                            }
                            &:last-of-type {
                                padding: 1em 1em 1em 3em;
                                flex: 0 1 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-wrap {
    .page-template-the-scoop & {
		width: 1160px;
	}
}

.ice-cream-blog {
    width: 100%;
    background-color: #f6f6f6;
    padding: 2em 0;

    article {
        overflow: auto;

        .blog-contents {
            @include flex-display;
            @include flex-justify-between;
            @include flex-items-start;

            div {
                padding: 0 1em 0 2em;
            }
        }
    }

    .blog-image {
        flex: 1 0 150px;
        padding-bottom: 150px;
        background-size: cover;
        background-position: center;
    }
    .blog-container {
        max-width: 100%;
        margin: 0 30px;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .divider {
        border: 1px solid #ccc;
        width: 12%;
        margin: 3em 0 .5em;
        display: block;
    }
    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        line-height: 1.5;
        &.blog-date {
            margin: 5px 0 10px;
            font-size: 0.8em;
        }
    }

    @include breakpoint($break-md) {

    }
}

footer {
    .page-template-the-scoop & {
		display: none;
	}
}