.page-template-landing-page-fall {
    #page {
        &:before {
            content: "";
            top: 0;
            left: 0;
            background-image: url('landing-page/assets/oh-tourism-bg.jpeg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100vw;
            z-index: -1;
            position: fixed;
        }
    }
}
.page-template-landing-page-winter {
    #page {
        &:before {
            content: "";
            top: 0;
            left: 0;
            background-image: url('landing-page/assets/oh-tourism-winter-bg.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            width: 100vw;
            z-index: -1;
            position: fixed;
        }
    }
}

#leaves {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 9;
    overflow: hidden;
    pointer-events: none;
    
    .leaf {
        width: 100px;
        height: 100px;
         position:absolute;
         z-index: 99;
    
        &--one {
            background: url('img/new-leaf.png');
            background-size: 100% 100%;
        }
    }
}
        
#carousel-wrap {
    overflow: hidden;
    
    .panel {
        position: relative;
        
        .inner {
            padding: 2em;
            position: relative;
            // height:100vh;
            overflow: hidden;
            
            .bg-blur {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                top: 0;
                left: 0;
                z-index: 0;
                opacity: 1;
                filter: blur(0);
                transform: scale(1);
                transition: .45s all;
            }
            
            .ft-container {
                opacity: 0;
                transition:.5s all;
            }
        
            .content {
                position: absolute;
                width: 100%;
                top: 49%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 2em;
                max-width: 720px;
                
                img {
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                    max-width: 350px;
                }
    
                h1 {
                    color: #fff;
                    font-size: 2em;
                    font-weight: 300;
                    text-align: center;
                    margin: 1em 0;
                }
                .copy {
                    color: #fff;
                    text-align: center;
                    line-height: 1.5;
                    font-size: .83em;
                    
                    p {
                        margin-bottom: 1em;
                    }
                }
                
                .logo {
                    display: block;
                    width: 100%;
                    margin: 0 auto;
                    max-width: 100px;
                    opacity: 0;
                    transition: .25s all;
                }
            }
            
            &--first {
                padding: 0;
                height: 100vh;
            }
            
            &--second {
                height: 100vh;
                
                &:before, &:after {
                    display: block;
                    width: 300vw;
                    height: 300vw;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .7s all;
                }
                
                &:before {
                    content:'';
                    position: absolute;
                    z-index: -2;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    transition-delay: .4s;

                }
                &:after {
                    content:'';
                    position: absolute;
                    z-index: -1;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
            
            &--last {
                height: 100vh;
                background-color:$scarlet;
            }
            
            &--overflow {
                padding: 7em 2em 10em;
            }
        }
        
        &.loop {
            background-color: #111d1d;
            
            .fp-scrollable {
                .iScrollIndicator {
                    border: none !important;
                }
            }
        }
        
        &.fp-completely {
            .inner {
                .bg-blur {
                    opacity: .5;
                    filter: blur(1em);
                    transform: scale(1.1);
                }
                .ft-container {
                    opacity: 1;
                }
                
                .content {
                    .logo {
                        opacity: 1;
                    }
                }
            }
		}
		
		&.active {
			.inner {
				&--second {
                    &:before, &:after {
                        width: 300px;
                        height: 300px;
                    }
                }
			}
		}
    }

    
    &.fall {
        .panel {
            .inner {
                &--first {
                    background-color:$scarlet;
                }
                &--second {
                    &:before {
                        background-image: url('landing-page/assets/orange-pin.svg');
                    }
                    &:after {
                        background-image: url('landing-page/assets/maroon-pin.svg');
                    }
                }
            }
        }
    }
    &.winter {
        .panel {
            .inner {
                &--first {
                    background-color:$lake-foam;
                }
                &--second {
                    &:before {
                        background-image: url('landing-page/assets/lt-blue-pin.svg');
                    }
                    &:after {
                        background-image: url('landing-page/assets/blue-pin.svg');
                    }
                }
            }
        }
    }
    
    @include breakpoint($break-md){
        .panel {
            .inner {
                height: 100vh;
                
                .content {
                    h1 {
                        font-size: 3em;
                    }
                    
                    .copy {
                        font-size: 1.05em;
                    }
                }
                
                .ft-container {
                    position: relative;
                    max-width: 1200px;
                    margin: 0 auto;
                    
                    .inner {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 100%;
                        height: 100%;
                    }
                }
                
                &--overflow {
                    padding: 4em 2em;
                }
            }
        }
    }
}

.sq-thumb {
    background-size: cover;
    background-position: center;
    padding-bottom: 56.25%;
    display: block;
    
    @include breakpoint($break-md){
        padding-bottom: 100%;
    }
}

.ft-container {
    .inner {
        .rt {
            img {
                width: 48px;
            }
            
            h2, p {
                color: #fff;
            }
            
            h2 {
                font-weight: 300;
                font-size: 2em;
            }
            p {
                line-height: 1.5;
                
                &.content-text {
                    span {
                        margin-bottom: 1em;
                        display: block;
                    }
                }
            }
            
            .btn-wrap {
                text-align: center;
                padding: 2em 0;
                
                a {
                    background-color: $lake-foam;
                    border-radius: 1.5em;
                    text-transform: uppercase;
                    padding: .75em 2em;
                    display: inline-block;
                    color: #fff;
                    text-decoration: none;
                    font-size: 1.05em;
                    
                    &:hover {
                        background-color: $orange;
                    }
                }
            }
        }
    }
    
    @include breakpoint($break-md){
        height: 100vh;
        
        .inner {
            @include flex-display;
            @include flex-justify-center;
            @include flex-items-center;
            
            .lt {
                flex: 1 0 33%;
            }
            .rt {
                padding: 2em;
                flex: 1 0 66%;
                
                .stop-text {
                    font-size: .83em;
                    padding: .5em 0;
                }
                
                .btn-wrap {
                    text-align: left;
                    
                    a {
                        padding: .5em 2em;
                        font-size: 1.25em;
                    }
                }
            }
        }
    }
}

#icons {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: block;
        
        &.orange-bg {
            z-index: -1;
        }
    }
}

.start-exploring-bg {
    .se-row {
        &:first-of-type {
            img {
                display: block;
                width: 100%;
                max-width: 250px;
                margin: 0 auto;
            }
        }
        &:last-of-type {
            width: 5000px;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);
            @include flex-display;
            @include flex-justify-center;
            @include flex-items-center;
        }
    }
    
    #cloud-right {
        position: relative;
        left: 100vw;
        transition: 1s all;
    }
    #cloud-left {
        position: relative;
        left: -100vw;
        transition: 1s all;
    }
    
    &.done {
        #cloud-right {
            left: 2vw;
        }
        #cloud-left {
            left: -2vw;
        }
    }
}

#show-map {
    cursor: pointer;
    position: relative;
    
    img {
        display: block;
        z-index: 2;
        position: relative;
        margin: 0 auto;
        top: 10px;
    }
    
    span {
        color: #fff;
        display: block;
        text-align: center;
        padding: 1em;
        font-size: 1.5em;
        position: relative;
        z-index: 2;
    }
    
    &.pulse {
        &:before {
            content:'';
            position: absolute;
            border-radius: 50%;
            background-color: $drk-scarlet;
            width: 145px;
            height: 145px;
            left: 30px;
        }
        &:after {
            content:"";
            display:block;
            width: 124px;
            height: 124px;
            border-radius: 50%;
            border: 10px solid $drk-scarlet;
            position: absolute;
            top: 2px;
            left: 30px;
            animation: pulse 2s ease 0s infinite;
        }
    }
}

#controls-header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    display: none;
    
    .btn-wrap {
        position: absolute;
        left: 0;
        width: 130px;
        top: 4em;
        
        a {
            display: block;
        }
    }
    
    .logo-wrap {
        position: absolute;
        left: 1em;
        top: 1em;
        
        img {
            display: block;
            width: 150px;
            margin: 0 auto;
        }
        span {
            position: fixed;
            right: 0;
            top: 1.5em;
            font-size: .83em;
            color: #fff;
            display: inline-block;
            text-align: center;
            margin: 1em;
            
            &:after {
                content: '';
                display: block;
                height: 2px;
                width: 80%;
                background-color: #fff;
                margin-top: 1em;
                position: absolute;
                right: 0;
            }
        }
    }
    
    &.on {
        display: block;
    }
    
    @include breakpoint($break-md) {
        .btn-wrap {
            top: 2em;
        }
        
        .logo-wrap {
            left: 50%;
            top: 2em;
            transform: translateX(-50%);
            text-align: center;
            
            img {
                width: 250px;
            }
            
            span {
                position: relative;
                padding: 1em;
                margin: 0;
                top: 0;
                font-size: 1em;
                letter-spacing: 2px;
                
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

#scroll-wrap {
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 5%;
    transform: translateX(-50%);
    
    .line {
        position: absolute;
        width: 1px;
        display: block;
        height: 100%;
        height: 100%;
        background-color: #fff;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .dot {
        background-color: #fff;
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 50%;
        left: 50%;
        top: 0;
        opacity: 1;
        position: absolute;
        transform: translateX(-50%);
        animation: track 2s ease 0s infinite;
    }
    
    .text {
        transform: rotate(-90deg);
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .6em;
        color: #fff;
        left: -10px;
        bottom: 3em;
    }
    
    @include breakpoint($break-md) {
        left: 50%;
    }
}


/* ============================================================================== Feature === */

#featureWindow {
    display: none;
    margin-top: 80px;
    
    .inner {
        padding: 6em 2em 10em;
        height: calc(67vh - 80px);
        overflow-y: auto;
        
        h4 {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: .5em 0;
            
            strong {
                font-weight: 700;
            }
        }
        
        h2 {
            text-align: center;
            font-size: 2em;
            margin: .5em;

            &.feature-title {
                text-transform: capitalize;
            }
        }
        
        p {
            max-width: 380px;
            margin: 0 auto;
            text-align: center;
            line-height: 1.5;
            margin-bottom: 1rem;
            
            &.ft-btn-wrap {
                margin: 0 auto;
                
                button {
                    padding: .75em 2em;
                    border-radius: 2em;
                    border: 1px solid rgba(255, 255, 255, 0.9);
                    font-size: .83em;
                    color: #fff;
                    text-transform: uppercase;
                    margin: .5em 0 2em;
                    transition: .25s all;
                    cursor: pointer;
                }
            }
        }
        
        &::-webkit-scrollbar-track {

		}
		&::-webkit-scrollbar {
	    	width: 6px;
		}
		&::-webkit-scrollbar-thumb {
    		background-color: $stone;
	    	border-radius: 6px;
		}
    }

    &.fall {
        background: #ffc700; /* Old browsers */
        background: -webkit-linear-gradient(top, #ffc700 0%, #ff9018 100%);
        background: -moz-linear-gradient(top, #ffc700 0%, #ff9018 100%);
        background: -o-linear-gradient(top, #ffc700 0%, #ff9018 100%);
        background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        .inner {
            h4 {
                color: $scarlet;
            }

            p {
                &.ft-btn-wrap {
                    button {
                        background-color: $gold;
                        
                        &:hover {
                            background-color: #ED8B00;
                        }
                    }
                }
            }
        }
    }

    &.winter {
        background: #74D2E7; /* Old browsers */
        background: -webkit-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
        background: -moz-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
        background: -o-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
        background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

        .inner {
            h4 {
                color: $midnight;
            }

            p {
                &.ft-btn-wrap {
                    button {
                        background-color: $lake-foam;
                        
                        &:hover {
                            background-color: $midnight;
                        }
                    }
                }
            }
        }
    }
    
    &.open {
        display: block;
    }
    
    @include breakpoint($break-md) {
        .inner {
            height: calc(100vh - 80px);
        }
    }
}

#snow-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.fall {
    .categoryFilter {
        &__listView {
            li {
                button {
                    &:hover {
                        &[data-category="feature"] {
                            background: #ffc700; /* Old browsers */
                            background: -webkit-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: -moz-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: -o-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
                &.active {
                    button {
                        &[data-category="feature"] {
                            background: #ffc700; /* Old browsers */
                            background: -webkit-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: -moz-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: -o-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
            }
        }
        &__sidebar {
            li {
                &.active, &.hover {
                    button {
                        &[data-category="feature"] {
                            background: #ffc700; /* Old browsers */
                            background: -webkit-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: -moz-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: -o-linear-gradient(top, #ffc700 0%, #ff9018 100%);
                            background: linear-gradient(to bottom, #ffc700 0%, #ff9018 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#ff9018',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
            }
        }
    }
}
.winter {
    .categoryFilter {
        &__listView {
            li {
                button {
                    &:hover {
                        &[data-category="feature"] {
                            background: #74D2E7; /* Old browsers */
                            background: -webkit-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: -moz-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: -o-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
                &.active {
                    button {
                        &[data-category="feature"] {
                            background: #74D2E7; /* Old browsers */
                            background: -webkit-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: -moz-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: -o-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
            }
        }
        &__sidebar {
            li {
                &.active, &.hover {
                    button {
                        &[data-category="feature"] {
                            background: #74D2E7; /* Old browsers */
                            background: -webkit-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: -moz-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: -o-linear-gradient(top, #e2f5fa 0%, #74D2E7 100%);
                            background: linear-gradient(to bottom, #e2f5fa 0%, #74D2E7 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fa', endColorstr='#74D2E7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                        }
                    }
                }
            }
        }
    }
}